<div class="card w-100">
    <div class="card-header">
      DANH NHÂN VIÊN RA
              <div class="col-2 float-right">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Đến ngày </div>
                    </div>
                    <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                  </div>
                </div>
            <div class="col-2 float-right">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Từ ngày </div>
                  </div>
                  <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                </div>
              </div>
    </div>
    <div class="card-body" style="padding: 5px;background-color: rgba(255, 255, 255, 0) !important;">

        
    </div>
</div>