<div class="row no-gutters h-100" id="rowid">
    <app-menu></app-menu>
      <div class="col" id="contentmenu" style="padding: 10px;">
          <div class="row no-gutters py-5">
            <div class="col">
              <!-- <div class="row d-flex justify-content-center py-0"><p style="font-size: 18px;display: block;">CHÀO MỪNG BẠN ĐẾN VỚI KÝ TÚC XÁ </p></div> -->
              <div class="row d-flex justify-content-center  py-0"> <p style="font-size: 50px;display: block;">MEIKO ELECTRONICS RECRUITMENT</p></div>
            </div>
          </div>
          <div class="row no-gutters">
            <!-- <ng-container *ngFor="let element of listnew">
                <div class="card" style="width: 20rem; margin: 5px;height: auto;">
                  <ng-container *ngIf="element.image!=null">
                    <img class="card-img-top" src="{{element.image}}" alt="Card image cap">
                  </ng-container>
                  <ng-container *ngIf="element.image==null">
                    <i class="fas fa-images fa-3x"></i> 
                  </ng-container>
                  
                  <div class="card-body" style="position: relative;">
                    <h5 class="card-title">{{element.tieude}}</h5>
                    <p class="card-text" style="white-space: pre-wrap" >{{substring(element.noidung)+'...' }}</p>
                    <button (click)="view(element)" style="position: absolute;bottom: 5px;left: 5px;;" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></button>
                  </div>
                </div>
            </ng-container> -->
  
          </div>
        </div>
  </div>
  <!-- <div class="modal fade " id="modaldetail" role="dialog" >
      <div class="modal-dialog   modal-900" >
          <div class="modal-content " >
              <div class="modal-header">
                  <h5 class="modal-title">{{detail.tieude}}</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body ">
          <div style="white-space: pre-wrap" [innerHTML]="detail.noidung"></div>
              </div>
          </div>
      </div>
  </div> -->