
        <div class="card  " style="background-color: rgb(255, 255, 255);">
            <div class="card-header">
                DANH SÁCH ĐƠN
                <span class="float-right">
                        <app-button-count [start]="start" [step]="step" [listdata]="listdon"  (step)="getstep ($event)"  ></app-button-count>
                        <app-button-preview  [start]="start" [step]="step" [listdata]="listdon" (start)="getstart ($event)" ></app-button-preview>
                        <app-button-next [start]="start" [step]="step" [listdata]="listdon"  (start)="getstart ($event)" classs="mr-1" ></app-button-next>
                    <select id="filter" class="btn btn-outline-secondary" (change)="bophanchange($event)">
                        <option value="all">ALL</option>
                        <option *ngFor="let element of listbophan;let i=index;" value="{{element.phong_id}}">{{element.bophan_ten}}
                        </option>
                    </select>
                </span>
            </div>
            <div class="card-body" style="padding: 5px;background-color: rgba(255, 255, 255, 0) !important;">
                <div class="row no-gutters">
                    <table class="table table-bordered tablelistdon" id="tabletoexport">
                        <thead>
                            <tr>
                                <th style="width: 40px;">STT</th>
                                <th>Tên người tạo<app-button-sort [listdata]="listdon" (listdata)="getlist($event)" key="hoVaTen"></app-button-sort></th>
                                <th>Công việc</th>
                                <th>Nội dung yêu cầu</th>
                                <th>Bộ phận<app-button-sort [listdata]="listdon" (listdata)="getlist($event)" key="T002C"></app-button-sort></th>
                                <th>Ngày tạo<app-button-sort [listdata]="listdon" (listdata)="getlist($event)" key="ngayTao"></app-button-sort></th>
                                <th>Tổng nhân lực</th>
                                <th>Nam</th>
                                <th>Nữ</th>
                            </tr>
                        </thead>
                        <ng-container *ngFor="let element of listdon;let i=index;">
                            <ng-container *ngIf="element.T098C==phongid||phongid=='all'">
                                <!-- <ng-container *ngIf="element.RM0010.RM0001.RM0001_ID==vitriid||vitriid=='all'"> -->
                                <ng-container *ngIf="((i>=start*step) && (i<(start+1)*step))||phongid!='all'">
                                    <tbody class="tbody" id="tbody{{element.A0028D.A0028D_ID}}">
                                        <tr style="cursor: pointer;padding: 0;" class="trclick"
                                            id="TRR{{element.A0028D.A0028D_ID}}"
                                            (click)="trclick(element.A0028D.A0028D_ID)">
                                            <td style="width: 40px;">{{i+1}}</td>
                                            <td>{{element.hoVaTen}}</td>
                                            <td>{{element.T023C}}</td>
                                            <td>{{element.T012C}}</td>
                                            <td>{{element.T002C}}</td>
                                            <td>{{element.ngayTao| date:'dd/MM/yyyy'}}</td>
                                            <td>{{(element.A0028D.C001C==null?0:element.A0028D.C001C-0)+(element.A0028D.C005C==null?0:element.A0028D.C005C-0)}}
                                            </td>
                                            <td>{{element.A0028D.C001C==null?0:element.A0028D.C001C}}</td>
                                            <td>{{element.A0028D.C005C==null?0:element.A0028D.C005C}}</td>
                                        </tr>
                                        <tr class="trnone trtwo" id="{{element.A0028D.A0028D_ID}}">
                                            <td colspan="9" style="padding: 0;">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td>Công việc</td>
                                                        <td colspan="2"><span class="doter">{{element.RM0001!=null?element.RM0001.tenCongViec:''}}</span>
                                                        </td>
                                                        <td>Lĩnh vực</td>
                                                        <td colspan="2"><span
                                                                class="doter">{{element.RM0002!=null?element.RM0002.tenLinhVuc:''}}</span></td>
                                                        <td>Kinh nghiệm</td>
                                                        <td colspan="3"><span
                                                                class="doter">{{element.A0028D.C012C}}</span> Năm</td>
                                                        <!-- <td></td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>Chuyên ngành</td>
                                                        <td colspan="2"><span
                                                                class="doter">{{element.RM0004!=null?element.RM0004.tenChuyenNganh:''}}</span></td>
                                                        <td>Học vấn</td>
                                                        <td colspan="2"><span
                                                                class="doter">{{element.RM0003!=null?element.RM0003.tenBacDaoTao:''}}</span></td>
                                                        <td>Ngoại ngữ</td>
                                                        <td colspan="2"><span
                                                                class="doter">{{element.A0028D.C013C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C016C}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="3">Chi tiết</td>
                                                        <td style="border-right: 0;"></td>
                                                        <td colspan="1" style="border-left: 0;">Số lượng</td>
                                                        <td colspan="1">Tuổi</td>
                                                        <td colspan="1">Thị lực</td>
                                                        <td colspan="1">Chiều cao</td>
                                                        <td rowspan="3" colspan="4">
                                                            <span class="doter"style="white-space: pre-wrap;" class="doter">{{element.A0028D.C019C}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nam</td>
                                                        <td><span class="doter">{{element.A0028D.C001C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C002C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C003C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C004C}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nữ</td>
                                                        <td><span class="doter">{{element.A0028D.C005C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C006C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C007C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C008C}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1">Tính cách</td>
                                                        <td colspan="9"><span style="white-space: pre-wrap;" class="doter">{{element.A0028D.C011C}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1">Yêu cầu đặc biệt</td>
                                                        <td colspan="9"><span class="doter"style="white-space: pre-wrap;" >{{element.A0028D.C018C}}</span></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                                <!-- </ng-container> -->
                            </ng-container>
                        </ng-container>

                    </table>
                </div>

            </div>

        </div>