
        <div class="card  " style="background-color: rgb(255, 255, 255);">
            <div class="card-header">
                DANH SÁCH ĐƠN
                <span class="float-right">
                    <span class="mr-3">Xem
                        {{((start+1)*step)>=listdon.length?listdon.length:((start+1)*step)}}/{{listdon.length}}</span>
                    <button (click)="pre()" class="btn btn-sm btn-secondary mr-1"><i class="fas fa-angle-left"></i></button>
                    <button (click)="nex()" class="btn btn-sm btn-secondary mr-3"><i class="fas fa-angle-right"></i></button>
                    <select id="filter" class="btn btn-outline-secondary" (change)="bophanchange($event)">
                        <option value="all">ALL</option>
                        <option *ngFor="let element of listbophan;let i=index;" value="{{element.phong_id}}">{{element.bophan_ten}}
                        </option>
                    </select>
                </span>
            </div>
            <div class="card-body" style="padding: 5px;background-color: rgba(255, 255, 255, 0) !important;">
                <div class="row no-gutters">
                    <table class="table table-bordered tablelistdon" id="tabletoexport">
                        <thead>
                            <tr>
                                <th style="width: 40px;">STT</th>
                                <th>Tên người tạo</th>
                                <th>Công việc</th>
                                <th>Nội dung yêu cầu</th>
                                <th>Bộ phận</th>
                                <th>Ngày tạo</th>
                                <th>Tổng nhân lực</th>
                                <th>Nam</th>
                                <th>Nữ</th>
                            </tr>
                        </thead>
                        <ng-container *ngFor="let element of listdon;let i=index;">
                            <ng-container *ngIf="element.T098C==phongid||phongid=='all'">
                                <!-- <ng-container *ngIf="element.RM0010.RM0001.RM0001_ID==vitriid||vitriid=='all'"> -->
                                <ng-container *ngIf="((i>=start*step) && (i<(start+1)*step))||phongid!='all'">
                                    <tbody class="tbody" id="tbody{{element.A0028D.A0028D_ID}}">
                                        <tr style="cursor: pointer;padding: 0;" class="trclick"
                                            id="TRR{{element.A0028D.A0028D_ID}}"
                                            (click)="trclick(element.A0028D.A0028D_ID)">
                                            <td style="width: 40px;">STT</td>
                                            <td>{{element.hoVaTen}}</td>
                                            <td>{{element.T023C}}</td>
                                            <td>{{element.T012C}}</td>
                                            <td>{{element.T002C}}</td>
                                            <td>{{element.ngayTao| date:'dd/MM/yyyy'}}</td>
                                            <td>{{(element.A0028D.C001C==null?0:element.A0028D.C001C-0)+(element.A0028D.C005C==null?0:element.A0028D.C005C-0)}}
                                            </td>
                                            <td>{{element.A0028D.C001C==null?0:element.A0028D.C001C}}</td>
                                            <td>{{element.A0028D.C005C==null?0:element.A0028D.C005C}}</td>
                                        </tr>
                                        <tr class="trnone trtwo" id="{{element.A0028D.A0028D_ID}}">
                                            <td colspan="9" style="padding: 0;">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td>Công việc</td>
                                                        <td colspan="2"><span class="doter">{{element.T023C}}</span>
                                                        </td>
                                                        <td>Lĩnh vực</td>
                                                        <td colspan="2"><span
                                                                class="doter">{{element.A0028D.C024C}}</span></td>
                                                        <td>Kinh nghiệm</td>
                                                        <td colspan="2"><span
                                                                class="doter">{{element.A0028D.C012C}}</span> Năm</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Chuyên ngành</td>
                                                        <td colspan="2"><span
                                                                class="doter">{{element.A0028D.C026C}}</span></td>
                                                        <td>Học vấn</td>
                                                        <td colspan="2"><span
                                                                class="doter">{{element.A0028D.C025C}}</span></td>
                                                        <td>Ngoại ngữ</td>
                                                        <td colspan="2"><span
                                                                class="doter">{{element.A0028D.C013C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C016C}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="3">Chi tiết</td>
                                                        <td style="border-right: 0;"></td>
                                                        <td colspan="1" style="border-left: 0;">Số lượng</td>
                                                        <td colspan="1">Tuổi</td>
                                                        <td colspan="1">Thị lực</td>
                                                        <td colspan="1">Chiều cao</td>
                                                        <td rowspan="3" colspan="4">
                                                            <span class="doter">{{element.A0028D.C019C}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nam</td>
                                                        <td><span class="doter">{{element.A0028D.C001C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C002C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C003C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C004C}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nữ</td>
                                                        <td><span class="doter">{{element.A0028D.C005C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C006C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C007C}}</span></td>
                                                        <td><span class="doter">{{element.A0028D.C008C}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1">Tính cách</td>
                                                        <td colspan="9"><span
                                                                class="doter">{{element.A0028D.C011C}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1">Yêu cầu đặc biệt</td>
                                                        <td colspan="9"><span
                                                                class="doter">{{element.A0028D.C018C}}</span></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                                <!-- </ng-container> -->
                            </ng-container>
                        </ng-container>

                    </table>
                </div>

            </div>

        </div>