.trnone{display: none;}
.actived{background-color: rgb(241, 253, 133);}
.border{border: solid 2px rgb(190, 190, 190) !important;background-color: rgb(254, 255, 223);}
.none{border: none; background-color: transparent;}
.dis{
    pointer-events: none;
}