<div class="row bg-dark no-gutters text-white px-4" style="padding-top:5px ;">
    <div class="col-auto px-1">
        <img src="../../../assets/image/logo.jpg" width="100" alt="">
    </div>
    <div class="col h-100 align-items-center">
        <h6 class="text-white"><a class="text-white" routerLink="/">MEIKO ELECTRONICS VIETNAM</a></h6>
    </div>
    <div class="col-auto">
        <button  class="btn btn-sm text-white" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Thoát</button>
    </div>
    
</div>

