<nav class="row nav fixed-top bg-dark no-gutters text-white px-4 py-1" style="border-bottom:1px gray solid ;">

    <div class="col h-100">
        <a class="text-white align-items-center" href="http://192.84.100.207/smartoffice">
            <img src="{{localimage+'assets/image/logo2.png'}}" width="120" alt="">&nbsp; MEIKO ELECTRONICS VIETNAM</a>
    </div>
    <div class="col-auto" *ngIf="user!=null">
       <span style="position: relative;"><button  title="Tin nhắn"  (click)="showmess()" class="btn btn-sm text-white" ><i class="fas fa-comments"></i>
        <b style="color: aliceblue;">{{sum()}}</b></button>
        <div *ngIf="isshowmess" style="width: 250px;position: absolute;top: 35px;left: 0;z-index: 999;box-shadow: 0 .3rem 3rem rgba(0, 0, 0, 0.719)!important;">
          <ul class="list-group text-dark ">
            <ng-container *ngFor="let element of listMKV7001;let i =index">
                <li (click)="showmessage(element)" style="cursor: pointer;" class="list-group-item-action list-group-item d-flex justify-content-between align-items-center">
                  {{ten(element)}}
                  <span class="badge badge-primary badge-pill">{{element.count==null?0:element.count}}</span>
                </li>
            </ng-container>
            <li style="cursor: pointer;" (click)="createroom()" class="list-group-item-action list-group-item d-flex justify-content-between align-items-center">
             <i class="fa fa-plus">Tạo nhóm...</i>   </li>
          </ul>
        </div>
      </span> 
        <button title="Hộp thư"   class="btn btn-sm text-white" ><i class="fas fa-envelope"></i><b style="color: aliceblue;">0</b></button>
        <button title="Thông báo"    class="btn btn-sm text-white" ><i class="fas fa-bell"></i><b style="color: aliceblue;">0</b></button>
        <button *ngIf="userclickc" (click)="changepass()"  title="Thay đổi mật khẩu"  class="btn btn-sm text-white" ><i class="fas fa-key"></i></button>
        <button title="Thoát hệ thống"  *ngIf="userclickc"  class="btn btn-sm text-white" (click)="logout()"><i class="fas fa-sign-out-alt"></i></button>
        <button (click)="userclick()" title="Mở rộng"  class="btn btn-sm text-white" >{{user.hodem+' '+user.ten}}&nbsp;<i class="fas fa-user-circle"></i></button>
    </div>
    
  </nav>

<app-select-account-modal ids="dkfdfkjkj" buttoncheck="true" (checked)="checked($event)"></app-select-account-modal>
<div class="modal fade " id="changepassworld" role="dialog">
    <div class="modal-dialog   modal-700">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title">THAY ĐỔI MẬT KHẨU TÀI KHOẢN</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body ">
  
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Mật khẩu hiện tại</div>
              </div>
              <input type="password" class="form-control " id="oldpass" placeholder="Xin nhập mật khẩu hiện tại của bạn">
            </div>
          </div>
  
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Mật khẩu mới</div>
              </div>
              <input type="password" class="form-control " id="newpass" placeholder="Xin nhập mật khẩu mới">
            </div>
          </div>
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Mật khẩu mới</div>
              </div>
              <input type="password" class="form-control " id="confirmnewpass" placeholder="Xin nhập mật khẩu mới">
            </div>
          </div>
          <div class="col-auto">
            <button title="Lưu thay đổi" style="padding: 10px 30px;" (click)="savechange()"
              class="userbutton btn btn-primary "><i class="fa fa-save"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

<div style="width: fit-content !important;height: 270px;" class=" fixed-bottom d-flex">
<ng-container *ngFor="let element of listmesstoshow">
  <div  class="card text-white bg-info user{{element.MKV9999_ID2+'_'+element.MKV9999_ID}} user{{element.MKV9999_ID+'_'+element.MKV9999_ID2}}" style="max-width: 18rem;">
    <div class="card-header">{{ten(element)}} <i style="cursor: pointer;" class="fa fa-times float-right" (click)="removemessage(element)"></i></div>
    <div class="card-body p-1" style="overflow: auto;">
      <ng-container *ngFor="let element of element.list">

        <div class="row no-gutters bg-primary mb-1 pr-1" *ngIf="element.MKV9999_ID==user.MKV9999_ID" style="border-radius: 10px;">
          <div class="col-auto d-flex justify-content-center align-items-center" style="width: 30px;"><i class="fa fa-user"></i></div>
          <div class="col">{{element.noiDung}} <br> <i style="font-size: 8px;">{{element.date==null?'':element.date|date:'dd/MM/yyyy hh:mm aa'}}</i></div>
        </div>

        <div class="row no-gutters bg-secondary mb-1 pl-1" *ngIf="element.MKV9999_ID!=user.MKV9999_ID" style="border-radius: 10px;">
          <div class="col">{{element.noiDung}} <br> <i style="font-size: 8px;">{{element.date==null?'':element.date|date:'dd/MM/yyyy HH:mm'}}</i></div>
          <div class="col-auto d-flex justify-content-center align-items-center" style="width: 30px;"><i class="fa fa-user"></i></div>
        </div>

      </ng-container>
      <a (click)="loadmore(element)" style="font-size: 12px;cursor: pointer;"><u> Xem thêm...</u></a>
    </div>
    <div class="card-footer p-0">
      <div class="row no-gutters">
        <div class="col"><input type="text" class="form-control" (mousedown)="mousedown(element)" (change)="send($event,element)"></div>
        <div class="col-auto"><button class="btn  btn-primary"><i class="fa fa-save"></i></button></div>
      </div>
      
      
    </div>
  </div>
</ng-container>
</div>
<app-window-chat></app-window-chat>