<div class="row no-gutters">
    <div class="col py-5 px-5">

<div class="card text-center">
    <div class="card-header">
      404
    </div>
    <div class="card-body">
      <h5 class="card-title">Bạn không có quyền truy cập, hãy liên hệ với người quản trị hệ thống.</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="/" class="btn btn-primary">Trở về trang trước.</a>
    </div>
    <div class="card-footer text-muted">
      <!-- 2 days ago -->
    </div>
  </div>
    </div>
</div>