<div class="row no-gutters h-100 px-0">
  <app-menu></app-menu>
    <div class="col" id="contentmenu"> 
      
      <!-- <div class="row no-gutters align-items-center" id="hidecolumn">
        <ng-container *ngFor="let element of listMKV8002;let i=index">
            <button (click)="active(element)" class="list-group-item  {{tab==i?'active':''}}"><i class="fas fa-sign-out-alt"></i>&nbsp;<span>{{element.ten}}</span> </button>
        </ng-container>
            <button (click)="themnhaan()" class="list-group-item tab"><i class="fas fa-plus"></i>&nbsp; </button>
              <input class="form-control form-control-sm  w-25 "  type="text" placeholder="Search" value="017308002"  aria-label="Search" style="margin-left: 20px;" id="searchbox">
              <button class="btn btn-sm btn-info" id="SEARCH" ><i style="cursor: pointer;" class="fas fa-search" aria-hidden="true"></i></button>
        </div> -->
      <div class="row no-gutters"  style="padding: 10px;" >
          <div class="col-12">
              <div class="card " id="testconvertPDF" style="background-color: rgba(255, 255, 255, 0.897);">
                  <div class="card-header p-0 " style="padding: 7px 7px 0  7px  !important;">
                    <div class="row no-gutters">
                      <div class="col p-0">
                      </div>
                      <div class="col-auto mr-1 p-0">
                        <app-button-count classs="dsdsdsd" [start]="start" [step]="step" [listdata]="listMKV9999"  (step)="getstep ($event)"  ></app-button-count>
                        <app-button-preview  [start]="start" [step]="step" [listdata]="listMKV9999" (start)="getstart ($event)" ></app-button-preview>
                        <app-button-next [start]="start" [step]="step" [listdata]="listMKV9999"  (start)="getstart ($event)" ></app-button-next>
                      </div>
                      <div class="col-auto p-0">
                        <app-button-datetimepicker ids="jkkjjjkdf"   (data)="getstartdate($event)"></app-button-datetimepicker>
                      </div>
                      <div class="col-auto p-0">
                        <app-button-datetimepicker ids="jkkjjjk"   (data)="getenddaate($event)"></app-button-datetimepicker>
                      </div>
                    
                      <div class="col-auto py-0">
                        <select [(ngModel)]="loaidanhsach"  class="btn btn-secondary mr-1" (change)="filter()">
                          <option value="1">Danh sách chịu thuế</option>
                          <option value="2">Danh sách miễn thuế</option>
                        </select>
                     
                        <button title="Đồng bộ dữ liệu" (click)="getdataa(true)"  class="btn btn-success  mr-1"><i class="fas fa-sync-alt  {{loading?'fa-spin':''}}"></i></button>
                     
                        <button class="btn btn-info mr-1" title="Lưu dưới dạng excel" (click)="Downloadtable()"><i class="fa fa-download"></i></button>
                    
                        <button (click)="loadmachine()" class="btn btn-warning text-white mr-1" title="Download dữ liệu từ máy chấm vân tay về"><i class="fas fa-cloud-download-alt"></i></button>
                      
                        <button class="btn btn-danger mr-1" (click)="delete()" title="Xóa dữ liệu máy chấm vấn tay"><i class="fas fa-trash-alt"></i></button>
                   
                        <button title="Thiết lập máy quẹt vân tay" (click)="themnhaan()"  class="btn btn-primary mr-1"><i class="fa fa-cog"></i></button>
                        <button title="Quyết toán những người đã chọn" (click)="quyettoan()"  class="btn " style="background: rgb(147, 42, 156);color: white;"><i class="fas fa-hand-holding-usd"></i> </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body" style="padding: 5px;">
                      <table class="table table-bordered ddddddddddddddddddddd" id="export">
                          <thead>
                            <tr>
                              <th rowspan="2" class="fulljustify"  style="width: 20px;"><input type="checkbox" (change)="checkallelement($event)"></th>
                              <th rowspan="2" class="fulljustify"  style="width: 40px;">STT</th>
                              <th rowspan="2" >Tên <app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="ten"></app-button-sort></th>
                              <th rowspan="2" >ID<app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="id"></app-button-sort></th>
                              <th rowspan="2" >BP</th>
                              <th rowspan="2" >Bậc</th>
                              <th rowspan="2" >CMTND</th>
                              <th rowspan="2" >Phòng</th>
                              <th colspan="2">Bữa sáng<app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="buasang"></app-button-sort></th>
                              <th colspan="2">Bữa trưa<app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="buatrua"></app-button-sort></th>
                              <th colspan="2">Bữa tối<app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="buatoi"></app-button-sort></th>
                              <th rowspan="2" style="width: 120px;" >Tổng</th>
                              <th rowspan="2" style="width: 120px;" >Đã TT</th>
                              <th rowspan="2" style="width: 120px;" >Thành tiền</th>
                            </tr>
                            <tr>
                              <th>SL</th>
                              <th><span class="ShowToExport">Thành tiền</span><i class="fas fa-dollar-sign"></i></th>
                              <th>SL</th>
                              <th><span class="ShowToExport">Thành tiền</span><i class="fas fa-dollar-sign"></i></th>
                              <th>SL</th>
                              <th><span class="ShowToExport">Thành tiền</span><i class="fas fa-dollar-sign"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let element of listMKV9999;let i=index">
                                <ng-container *ngIf="((i>=start*step) && (i<(start+1)*step))">
                                  <ng-container *ngIf="element.MKV9999!=null">
                                      <tr>
                                          <td><input type="checkbox" [(ngModel)]="element.check"></td>
                                          <td>{{i+1}}</td>
                                          <td style="text-align: start;">{{element.MKV9999.hodem+' '+element.MKV9999.ten}}</td>
                                          <td>{{element.MKV9999.manhansu}}</td>
                                          <td style="text-align: start;">{{element.MKV9999.thetu_id}}</td>
                                          <td>{{element.MKV9999.capbac}}</td>
                                          <td style="text-align: start;">{{element.MKV9999.cmtnd_so}}</td>
                                          <td>{{element.MKV9999.KTX0001!=null?element.MKV9999.KTX0001.ten:''}}</td>
                                          <td>{{element.buasang!=null?element.buasang:'NaN'}}</td>
                                          <td style="text-align: start;">{{element.thanhtienbuasang| currency : '':''  : '1.0-0' }}</td>
                                          <td>{{element.buatrua!=null?element.buatrua:'NaN'}}</td>
                                          <td style="text-align: start;">{{element.thanhtienbuatrua| currency : '':''   : '1.0-0' }}</td>
                                          <td>{{element.buatoi!=null?element.buatoi:'NaN'}}</td>
                                          <td style="text-align: start;">{{element.thanhtienbuatoi| currency : '':''   : '1.0-0' }}</td>
                                          <td style="text-align: start;">{{element.tong| currency : '':''   : '1.0-0' }}</td>
                                          <td style="text-align: start;">{{element.thanhtoan| currency : '':''   : '1.0-0' }}</td>
                                          <td style="text-align: start;">{{element.thanhtien| currency : '':''   : '1.0-0' }}</td>
                                      </tr>
                                  </ng-container>
                                  <ng-container *ngIf="element.MKV9999==null">
                                      <tr style="background-color: rgb(255, 220, 220);">
                                          <td><input type="checkbox" [(ngModel)]="element.check"></td>
                                          <td>{{i+1}}</td>
                                          <td style="text-align: start;">Không có dữ liệu </td>
                                          <td>{{element.User_ID}}</td>
                                          <td style="text-align: start;">Không có dữ liệu</td>
                                          <td>Không có dữ liệu</td>
                                          <td>Không có dữ liệu</td>
                                          <td style="text-align: start;"></td>
                                          <td>{{element.buasang!=null?element.buasang:'NaN'}}</td>
                                          <td style="text-align: start;">{{element.thanhtienbuasang| currency : '':'' : '1.0-0' }}</td>
                                          <td>{{element.buatrua!=null?element.buatrua:'NaN'}}</td>
                                          <td style="text-align: start;">{{element.thanhtienbuatrua| currency : '':'': '1.0-0' }}</td>
                                          <td>{{element.buatoi!=null?element.buatoi:'NaN'}}</td>
                                          <td style="text-align: start;">{{element.thanhtienbuatoi| currency : '':'' : '1.0-0' }}</td>
                                          <td style="text-align: start;">{{element.tong| currency : '':''   : '1.0-0' }}</td>
                                          <td style="text-align: start;">{{element.thanhtoan| currency : '':''   : '1.0-0' }}</td>
                                          <td style="text-align: start;">{{element.thanhtien| currency : '':''   : '1.0-0' }}</td>
                                      </tr>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

<div class="modal fade " id="themnhaanmodal" role="dialog">
  <div class="modal-dialog   modal-1360">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">THÊM NHÀ ĂN MỚI</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body ">
        <div id="accordion">
          <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                  aria-controls="collapse2" id="heading2">
              <h5 class="mb-0">
                  <i class="fa fa-users">&nbsp;Cài đặt danh sách người ăn không tính thuế</i>
              </h5>
            </div>

            <div id="collapse2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                
                <app-select-account-add-ktx (listdata)="getlistdata($event)"></app-select-account-add-ktx>
                </div>
              </div>
            </div>
            
          <div class="card">
            <div class="card-header"  data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
                  aria-controls="collapse3"id="heading3">
              <h5 class="mb-0">
                  <i class="fas fa-dollar-sign">&nbsp;Cài mốc thời gian áp dụng giá tiền</i>
              </h5>
            </div>
            <div id="collapse3" class="collapse " aria-labelledby="heading3" data-parent="#accordion">
              <div class="card-body">
                 <table class="table table-border table-hover">
                   <thead>
                     <tr>
                       <th>Thời gian áp dụng</th>
                       <th>Bữa sáng</th>
                       <th>Bữa trưa</th>
                       <th>Bữa tối</th>
                       <th><button (click)="themmocthoigian()" class="btn btn-primary"><i class="fa fa-plus"></i></button></th>
                     </tr>
                   </thead>
                   <tbody>
                     <ng-container *ngFor="let element of listKTX0053;let i=index">
                      <tr id="editmocthoigiantr{{element.KTX0053_ID}}">
                        <td><app-button-datetimepicker ids="ngay{{element.KTX0053_ID}}" [values]="element.ngay|date:'yyyy-MM-dd HH:mm:ss'"  (data)="getdateforelement($event,element)"></app-button-datetimepicker></td>
                        <td><input type="text" [(ngModel)]="element.buasang" class="form-control none" disabled></td>
                        <td><input type="text"  [(ngModel)]="element.buatrua"  class="form-control none" disabled></td>
                        <td><input type="text"  [(ngModel)]="element.buatoi"  class="form-control none" disabled></td>
                       <th><button (click)="edidmocthoigian(element)" id="editmocthoigian{{element.KTX0053_ID}}" class="btn btn"><i class="fa fa-edit"></i></button></th>
                      </tr>

                     </ng-container>
                   </tbody>
                 </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" id="headingOne">
              <h5 class="mb-0">
                  <i class="fa fa-cog">&nbsp;Cài đặt máy chấm vân tay</i>
              </h5>
            </div>

            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <TABLE class="table table-bordered table-hover" id="fdffghgjjgfdghjkhgf">
                  <tbody>
                    <tr>
                      <th> TÊN </th>
                      <TD><input type="text" [(ngModel)]="newnhaan.ten" placeholder="Tên máy vân tay"
                          class="form-control"></TD>
                    </tr>
                    <tr>
                      <th> IP </th>
                      <TD><input type="text" [(ngModel)]="newnhaan.ip" placeholder="IP của máy vân tay"
                          class="form-control"></TD>
                    </tr>
                    <tr>
                      <th> PORT </th>
                      <TD><input type="text" [(ngModel)]="newnhaan.port" placeholder="Port, thường là 4370"
                          class="form-control"></TD>
                    </tr>
                    <tr>
                      <th> COMMKEY </th>
                      <TD><input type="text" [(ngModel)]="newnhaan.commkey" placeholder="Cổng COMM, Thường là 0"
                          class="form-control"></TD>
                    </tr>
                    <tr>
                      <th> GHI CHÚ </th>
                      <TD><input type="text" [(ngModel)]="newnhaan.ghiChu" placeholder="Ghi chú" class="form-control">
                      </TD>
                    </tr>
                  </tbody>
                </TABLE>
                <button (click)="save()" class="btn btn-primary float-right"><i class="fa fa-save"></i></button>
                <br>
                <br>
                <table class="table table-bordered table-hover">
                  <tr>
                    <td>STT</td>
                    <td>Tên</td>
                    <td style="width: fit-content;">IP</td>
                    <td style="width: 100px;">Port</td>
                    <td style="width: 100px;">Comm</td>
                    <td>Ghi chú</td>
                    <td style="width: 100px;text-align: center;"><i class="fa fa-list"></i></td>
                  </tr>
                  <ng-container *ngFor="let element of listMKV8002;let i=index">
                    <tr id="row{{element.MKV8002_ID}}">
                      <td>{{i+1}}</td>
                      <td><input type="text" [(ngModel)]="element.ten" placeholder="Tên" disabled
                          class="form-control none"></td>
                      <td><input type="text" [(ngModel)]="element.ip" placeholder="IP" disabled
                          class="form-control none"></td>
                      <td><input type="text" [(ngModel)]="element.port" placeholder="Port" disabled
                          class="form-control none"></td>
                      <td><input type="text" [(ngModel)]="element.commkey" placeholder="Commkey" disabled
                          class="form-control none"></td>
                      <td><input type="text" [(ngModel)]="element.ghiChu" placeholder="Ghi chú" disabled
                          class="form-control none"></td>
                      <td><button class="btn" id="edit{{element.MKV8002_ID}}" (click)="edititem(element)"><i
                            class="fa fa-edit"></i></button>
                        <button class="btn btn-sm deleteitem" (click)="deleteitem(element)"><i
                            class="far fa-trash-alt"></i></button></td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<app-loading [loading]="loading" caption="Đang đồng bộ dữ liệu, vui lòng chờ."></app-loading>