<div class="row no-gutters h-100">
    <app-menu></app-menu>
        <div class="col col-auto gh bg-dark h-100" >
            <ul class="list-group list-group-flush h-100 bg-secondary" id="dfdfdfdf" >
                  <li (click)="tabs(0)" class="list-group-item  {{tab==0?'bg-dark':'bg-secondary'}} "><i class="far fa-calendar-plus"></i><span>&nbsp;&nbsp;THÊM LỊCH HẸN</span></li>
                  <li (click)="tabs(1)"  class="list-group-item   {{tab==1?'bg-dark':'bg-secondary'}}   "><i class="fas fa-calendar-check"></i> <span>&nbsp;&nbsp;DANH SÁCH LỊCH HẸN</span></li>
                </ul>
      </div>
      <div class="col">
        <app-td-lh-themlichen *ngIf="tab==0"></app-td-lh-themlichen>
        <app-td-lh-danhsachlichen *ngIf="tab==1"></app-td-lh-danhsachlichen>
      </div>
</div>