<div class="row no-gutters">

  
    <div class="col" style="padding: 10px;">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">DANH SÁCH HỌC VẤN</div>
                    <div class="col-auto">
                        <app-button-count classs="tyuioi" [start]="start" [step]="step" [listdata]="listdata" class="mr-2" (step)="getstep($event)" ></app-button-count>
                        <app-button-preview [start]="start" [step]="step" [listdata]="listdata" (start)="getstart($event)"></app-button-preview>
                        <app-button-next class="mr-2" [start]="start" [step]="step" [listdata]="listdata" (start)="getstart($event)"></app-button-next>
                        <button (click)="themcongviec()" class="btn btn-secondary mr-2" title="Thêm CHUYÊN NGÀNH"><i class="fa fa-plus"></i></button>
                        <button (click)="xoacongviec()" class="btn btn-secondary" title="Xóa danh sách đã chọn"><i class="fa fa-trash-alt"></i></button>
                    </div>
                
                <!-- <button id="savelisst" class="btn btn-secondary" title="Lưu danh sách "><i class="fa fa-save"></i></button> -->
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="tablecongviec">
                    <thead>
                        <tr>
                            <th><input type="checkbox"  (change)="allchange()" [(ngModel)]="checkall"></th>
                            <th>Mã </th>
                            <th>Tên </th>
                            <th>Ghi chú</th>
                            <th style="width: 90px;">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody >
                        <ng-container  *ngFor="let element of listdata;let i = index">
                        <ng-container *ngIf="((i>=start*step) && (i<(start+1)*step))">
                        <tr id="row{{element.RM0003_ID}}" >
                            <th><input type="checkbox" [(ngModel)]="element.check"></th>
                            <td><input type="text"  disabled class="form-control none" [(ngModel)]="element.maBacDaoTao" ></td>
                            <td><input type="text" name="" disabled class="form-control none"  [(ngModel)]="element.tenBacDaoTao" ></td>
                            <td><input type="text" name="" disabled class="form-control none"  [(ngModel)]="element.ghiChu" ></td>
                            <td><button  id="edit{{element.RM0003_ID}}" (click)="edititem(element)"  class="btn btn-sm edititem"><i class="far fa-edit"></i></button>
                                <button class="btn btn-sm deleteitem"><i class="far fa-trash-alt"></i></button></td>
                        </tr>
                        </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>
    </div>


    <div class="modal fade " id="myModalungvieninfo" role="dialog" >
        <div class="modal-dialog   modal-700" >
            <div class="modal-content " >
                <div class="modal-header">
                    <h5 class="modal-title">THÊM MỚI MỘT </h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body ">
                            <input class="form-control form-control-sm" type="text" placeholder="Mã " [(ngModel)]="newdm.maBacDaoTao">
                            <input class="form-control form-control-sm" type="text" placeholder="Tên "  [(ngModel)]="newdm.tenBacDaoTao">
                            <textarea class="form-control form-control-sm" placeholder="Ghi chú"   [(ngModel)]="newdm.ghiChu"></textarea>
                            <select class="form-control form-control-sm"   [(ngModel)]="newdm.tinhTrang">
                                <option value="true">Bật</option>
                                <option value="false">Tắt</option>
                            </select><br>
                            <button class="btn btn-primary " (click)="savecongviec()">&nbsp;<i class="fas fa-save"></i>&nbsp;</button>
                        
                    
                </div>
            </div>
        </div>
    </div>
