<app-qlp   (ktx02out)="getemitListGIUONG($event)"   (ktx01out)="getemitListPHONG($event)" (ktx01oneout)="getemitPHONG($event)" ></app-qlp>

<div class="modal fade " id="sapphongtudongmodal" role="dialog" >
	<div class="modal-dialog   modal-99"  >
		<div class="modal-content " >
			<div class="modal-header no-gutters">
					<div class="col"><h5 class="modal-title">SẮP PHÒNG TỰ ĐỘNG</h5></div>
					<div class="col-auto">
						<select id="loc" (change)="loc()"  class="btn btn-secondary mr-1">
							<option value="0">Loại phòng All</option>
							<option value="1">Công nhân</option>
							<option  value="2">Trưởng nhóm</option>
							<option   value="3">Chủ nhiệm</option>
							<option value="4">Trưởng phòng</option>
						</select>
						<button  type="button" class=" btn btn-warning mr-1"  ><i class="fas fa-sync-alt"></i></button>
						<button title="Sắp phòng" id="sapphongauto" type="button" class=" btn btn-primary mr-1"  ><i class="fa fa-check"></i></button>
						<button title="Sắp phòng và in đơn" (click)="sapphongvaindon()" type="button" class=" btn btn-info mr-5"  ><i class="fa fa-check"></i><i class="fa fa-print"></i></button>
						<button   class="btn btn-secondary  "  data-dismiss="modal" ><i class="fa fa-times"></i></button>
					</div>
			
			</div>
			<div class="modal-body " style="padding:10px 5px;">
				
				
				<div class="row no-gutters">
					<div class="col-lg-auto px-1">
						<h6 class="card-title">Chọn phòng sẽ thêm nhân viên</h6>
						<table class="table table-bordered table-hover table-click">
							<thead>
								<tr>
									<td style="width: 10px;"><input type="checkbox" ></td>
									<td style="width: 10px;">STT</td>
									<td >Phòng</td>
									<td >Loại</td>
									<td >Giường</td>
									<td >Trống</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let element of listphongcopy;let i=index" style="cursor: pointer;">
									<td style="text-align: center;"><input type="checkbox" [(ngModel)]="element.check" ></td>
									<td style="text-align: center;">{{i+1}}</td>
									<td style="text-align: center;">{{element.ten}}</td>
									<td style="text-align: center;">{{element.capbac==1?'CN/TV':element.capbac==2?'TN':element.capbac==3?'CN':element.capbac==4?'TP':'NaN'}}</td>
									<td style="text-align: center;">{{element.slot}}</td>
									<td style="text-align: center;">{{element.slot-element.slotuse}}</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="col-lg px-1">
						<h6 class="card-title">Chọn Nhân viên cần sắp phòng</h6>
						<table class="table table-bordered table-hover  table-click">
							<thead>
								<tr>
									<td style="width: 10px;"><input type="checkbox" ></td>
									<td style="width: 10px;">STT</td>
									<td>ID</td>
									<td>TÊN</td>
									<td>BP</td>
									<td>CB</td>
									<td>GIỚI</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let element of listEPcopy;let i=index" style="cursor: pointer;">
									<td><input  type="checkbox" [(ngModel)]="element.check"  ></td>
									<td>{{i+1}} <input type="hidden" name="ID" value="{{i}}"> </td>
									<td>{{element.MKV9999.manhansu}}</td>
									<td>{{element.MKV9999.hodem+' '+element.MKV9999.ten}}</td>
									<td>{{element.MKV9999.thetu_id}}</td>
									<td>{{element.MKV9999.capbac}}</td>
									<td>{{element.MKV9999.gioitinh?"Nam":"Nữ"}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="col-lg-3 px-1">
						<h6 class="card-title">Danh mục đồ sẽ cấp phát khi sắp phòng</h6>
						<table class="table table-bordered table-hover table-edit-button">
							<thead>
								<tr>
									<td>STT</td>
									<td>Tên vật tư</td>
									<!-- <td>Mã vật tư</td> -->
									<td style="width: 90px;">SL Cấp</td>
									<td>SLTồn</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let element of ktx0010;let i=index">
									<td>{{i+1}}</td>
									<td>{{element.tenSanPham}}</td>
									<!-- <td>{{element.maSanPham}}</td> -->
									<td><input  type="text"  class="none form-control"  [(ngModel)]="element.soluongmacdinh"></td>
									<td>{{element.soLuongTonKho-element.soluongtinh}}</td>
								</tr>
							</tbody>
						</table>
						</div>
				</div>
				<!--<div class="row no-gutters">
					<div class="col-12 ">
						
						 <div class="accordion" id="accordionExample">
							 <div class="card">
							  <div class="card-header" id="headingOne" style="cursor: pointer;" >
								<h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Danh mục đồ sẽ cấp phát khi sắp phòng
								<i class="fa fa-eye float-right"></i>
								</h5>
							  </div>
							  <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
								</div>
							  </div>
							</div> 
							<div class="card">
								<div class="card-header" id="headingOne2" style="cursor: pointer;" >
								  <h5 class="mb-0" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
									  Sắp phòng
									  <i class="fa fa-eye float-right"></i>
								  </h5>
								</div>
								<div id="collapsetwo" class="collapse show" aria-labelledby="headingOne2" data-parent="#accordionExample">
								  	<div class="card-body" style="padding: 5px;">
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>-->

			</div>
		</div>
	</div>
</div>


<div class="modal fade " id="nguoitronggiuong" role="dialog" >
	<div class="modal-dialog    modal-700 " >
		<div class="modal-content " >
			<div class="modal-header">
				<h5 class="modal-title">THÔNG TIN NHÂN VIÊN ĐANG SỞ HỮU GIƯỜNG</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body ">
				<h5 class="card-title">{{title}}</h5>
				<table class="table table-bordered table-hover ">
					<thead>
						<tr>
							<td>ID</td>
							<td>TÊN</td>
							<td>BỘ PHẬN</td>
							<td>GIỚI TÍNH</td>
							<td>CHỨC NĂNG</td>
						</tr>
					</thead>
					<tbody>
						<tr  style="cursor: pointer;">
							<td>{{giuong!=null?(giuong.KTX0020.MKV9999.manhansu):""}}</td>
							<td>{{giuong!=null?(giuong.KTX0020.MKV9999.hodem+' '+giuong.KTX0020.MKV9999.ten):""}}</td>
							<td>{{giuong!=null?(giuong.KTX0020.MKV9999.thetu_id):""}}</td>
							<td>{{giuong!=null?(giuong.KTX0020.MKV9999.gioitinh?"Nam":"Nữ"):""}}</td>
							<TD><button class="btn btn-danger" id="deleterooms" title="Xóa khỏi phòng này"><i class="fas fa-hospital-alt"></i></button></TD>
						</tr>
						<tr>
							<td>Phòng</td>
							<td>{{giuong!=null?(giuong.KTX0001.ten):""}}</td>
							<td>Khóa phòng</td>
							<td >{{giuong!=null?(giuong.KTX0020.khoaphong):""}}</td>
							<td rowspan="2"><button class="btn btn-danger" id="deleteout" title="Xóa khỏi giường này"><i class="fas fa-sync"></i></button></td>
						</tr>
						<tr>
							<td>Tủ</td>
							<td >{{giuong!=null?(giuong.KTX0020.sotu):""}}</td>
							<td>Khóa tủ</td>
							<td >{{giuong!=null?(giuong.KTX0020.sokhoatu):""}}</td>
						</tr>
						<tr>
							<td>Ngày duyệt</td>
							<td  colspan="4">{{giuong!=null?(giuong.KTX0020.ngayduyetdon|date:'dd-MM-yyyy' ):""}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button id="UPDATEinfo" type="button" class="userbutton btn btn-warning float-right" data-dismiss="modal" >UPDATE</button>
			</div>
		</div>
	</div>
</div>


<div id="testprint" style="display: none; ">
    <ng-container *ngFor='let element of ktx20tempprint'>
      <app-formdangkyokytucxa    [ktx20temp]="element" [check]="false"  ></app-formdangkyokytucxa>
    </ng-container>
    
  </div>
  
  <app-loading *ngIf="loading"></app-loading>