<app-qlp></app-qlp>

<div class="modal fade " id="danhsachchomodal" role="dialog" >
	<div class="modal-dialog   modal-55" >
		<div class="modal-content " >
			<div class="modal-header">
				<h5 class="modal-title">DANH SÁCH NHÂN VIÊN CHỜ SẮP PHÒNG</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body ">
			</div>
			<div class="modal-footer">
				<button id="UPDATEinfo" type="button" class="userbutton btn btn-warning float-right" data-dismiss="modal" >UPDATE</button>
			</div>
		</div>
	</div>
</div>
