<div class="row no-gutters">

  
    <div class="col" style="padding: 10px;">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">DANH SÁCH TÀI KHOẢN </div>
                    <div class="col-auto">
                        <div class="row no-gutters">
                            <div class="col-auto mr-1">
                              <app-button-count classs="few" [start]="start" [step]="step" [listdata]="listMKV9999s"  (step)="getstep ($event)"  ></app-button-count>
                              <app-button-preview  [start]="start" [step]="step" [listdata]="listMKV9999s" (start)="getstart ($event)" ></app-button-preview>
                              <app-button-next [start]="start" [step]="step" [listdata]="listMKV9999s"  (start)="getstart ($event)" ></app-button-next>
                            </div>
                            <div class="col-auto px-1"><input  type="text" style="width: 160px;" class="form-control" placeholder="ID, Tên" (keydown)="onKeydown($event)" [(ngModel)]="keysearch" ></div>
                            <div class="col-auto px-1">
                                <select  class="form-control"  (change)="bophanchange($event)">
                                    <option value="all">BP All</option>
                                    <option value="{{element.id}}" *ngFor="let element of listDEPT">{{element.ten}}</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        
                        
                    </div>
                </div>
                
                <!-- <button id="savelisst" class="btn btn-secondary" title="Lưu danh sách lĩnh vực"><i class="fa fa-save"></i></button> -->
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="tablecongviec">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>STT</th>
                            <th>ID</th>
                            <th>TÊN</th>
                            <th>Bộ phận</th>
                            <ng-container *ngFor="let element of listRM0006">
                                <th style="text-align: center;padding-left: 0;padding-right: 0;">{{element.tenTieuChiDG}}</th>
                            </ng-container>
                            <!-- <th style="width: 90px;">Chức năng</th> -->
                        </tr>
                    </thead>
                    <tbody >
                        <ng-container *ngFor="let element of listMKV9999s;let i=index">
                                    <ng-container *ngIf="((i>=start*step) && (i<(start+1)*step))&&keysearch==''||checkkey(element)&&keysearch!=''">
                                    <tr style="cursor: pointer;"  >
                                        <th><input type="checkbox"></th>
                                        <td>{{i+1}}</td>
                                        <td>{{element.manhansu}}</td>
                                        <td>{{element.hodem+' '+element.ten}}</td>
                                        <td>{{element.thetu_id}}</td>
                                        <ng-container *ngFor="let element2 of element.RM0006">
                                            <td style="text-align: center;" class="{{element2.RM0007==null?'btn-secondary':'btn-success'}}" (click)="setpermistion(element,element2)"><i class="fa {{element2.RM0007==null?'fa-times':'fa-check'}} "></i></td>
                                        </ng-container>
                                        <!-- <td><button class="btn btn-sm edititem"><i class="far fa-edit"></i></button>
                                            <button class="btn btn-sm deleteitem"><i class="far fa-trash-alt"></i></button></td> -->
                                    </tr>
                                </ng-container>

                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>
    </div>

    <app-loading [loading]='loading' caption="Đang tải dữ liệu, xin vui lòng chờ..."></app-loading>