<div class="row h-100  d-flex justify-content-center d-flex align-items-center no-gutters">
    <div class="" style="min-width: 300px;height: auto;background-color: rgba(196, 196, 196, 0.13);padding: 50px;border-radius: 20px;border: 1px solid gray;">
        <span class=""><h2>ĐĂNG NHẬP HỆ THỐNG</h2></span><br>
        <div class="col-12 my-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Tài khoản</div>
              </div>
              <input type="text" class="form-control" id="ID" placeholder="Tài khoản" value="admin">
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Mật khẩu</div>
              </div>
              <input type="password" class="form-control" id="PASS" placeholder="Mật khẩu" value="1">
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="input-group d-flex justify-content-between">
                <button id="LOGIN" class="btn btn-primary ">Đăng nhập</button>
              <a class="float-right" href="">Quên mật khẩu?</a>
            </div>
          </div>
          
    </div>
</div>
