<div class="row no-gutters h-100">
    <app-menu></app-menu>
    <div class="col" id="contentmenu" style="padding: 10px;">
      <div class="row no-gutters">
  
        <div class="col no-gutters">
          <div class="card">
            <div class="card-header">
              DANH SÁCH ĐƠN
              <!-- <button title="Thêm đơn" style="margin-left: 10px;"  class="btn btn-secondary float-right adddon"><i
                  class="fa fa-plus"></i></button> -->
                  <span class="float-right">
                      <button class="btn btn-primary" id="agree"><i class="fa fa-check"></i></button>&nbsp;
                      <button class="btn btn-danger" id="disagree"><i class="fa fa-times"></i></button>&nbsp;&nbsp;&nbsp;
                    <select id="filter" class="btn btn-outline-secondary">
                        <option value="all">ALL</option>
                        <option value="true">Đã duyệt</option>
                        <option value="false">Chưa duyệt</option>
                    </select>&nbsp;&nbsp;&nbsp;Từ ngày
                    <input type="date" name="" id="" class="btn btn-outline-secondary py-1" placeholder="Từ ngày">đến
                    <input type="date" name="" id="" class="btn btn-outline-secondary py-1" placeholder="Đên ngày">&nbsp;
                    <button class="btn btn-info "><i class="fa fa-search"></i></button>&nbsp;
                  </span>
            </div>
            <div class="card-body" style="padding: 5px;">
              <div class="row no-gutters">
                <table class="table table-bordered tablelistdon">
                  <thead><tr>
                    <th style="width: 20px;"><input type="checkbox" name="" id=""></th>
                    <th style="width: 40px;">STT</th>
                    <th>Tên</th>
                    <th>ID</th>
                    <th>BP</th>
                    <th>Cấp bậc</th>
                    <th>CMTND</th>
                    <th>Ngày cấp</th>
                    <th>Hộ khẩu</th>
                    <th>Thời gian tạo</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of listdon;let i=index;" style="cursor: pointer;padding: 0;">
                      <td><input type="checkbox" [(ngModel)]="element.check"></td>
                      <td>{{i+1}} <input type="hidden" name="ID" value="{{i}}"> </td>
                      <td>{{element.hotenkhaisinh}}</td>
                      <td>{{element.MKV9999.manhansu}}</td>
                      <td>{{element.MKV9999.thetu_id}}</td>
                      <td>{{element.MKV9999.capbac}}</td>
                      <td>{{element.MKV9999.cmtnd_so}}</td>
                      <td>{{element.MKV9999.cmtnd_ngayhethan}}</td>
                      <td>{{element.MKV9999.diachithuongtru}}</td>
                      <td>{{element.ngaytaodon| date:'dd/MM/yyyy HH:mm'}}</td>
                      <td>{{element.trangthai?"Đã duyệt":"Chưa duyệt"}}</td>
                      <td>
                        <button class="btn deletedon"><i class="fas fa-trash-alt"></i></button>
                        <button name="{{element.KTX0020_ID}}" class="btn showdetaildon" ><i class="fas fa-eye"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <app-formdangkyokytucxa *ngIf="form=='formdangkyokytucxa'" [ktx20temp]="ktx20temp"  ></app-formdangkyokytucxa>
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
  </div>
  