<DIV class="row no-gutters">
    <div class="col-12 px-1">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-auto">
                        <span>Asoft: <b>{{listtaikhoan.length}}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Hệ thống: <b>{{listhethong.length}}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-info" (click)="dongho()"><i class="fa fa-sync"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</DIV>

<app-loading [loading]="loading" caption="Đang tải dữ liệu, vui lòng chờ."></app-loading>