
#hidecolumn span {border-right: 1px solid rgb(78, 78, 78);cursor: pointer;border-radius: 5px 5px 0 0;margin-top: 4px;}
#hidecolumn span:first-child {border-left: 1px solid rgb(78, 78, 78);margin-left: 30px;}