<div class="row no-gutters h-100 px-0">
    <app-menu></app-menu>
      <div class="col" id="contentmenu"> 
        <div class="row no-gutters align-items-center" id="hidecolumn">
              <button class="list-group-item tab"><i class="fas fa-sign-out-alt"></i>&nbsp;<span>Danh sách ra</span> </button>
              <button class="list-group-item tab"><i class="fas fa-sign-in-alt"></i>&nbsp;<span>Danh sách vào</span> </button>
              <button class="list-group-item tab"><i class="fas fa-print"></i>&nbsp;<span>In đơn</span> </button>
                <input class="form-control form-control-sm mr-3 w-25 " type="text" placeholder="Search"  aria-label="Search" style="margin-left: 20px;" id="searchbox">
                <i id="SEARCH" style="cursor: pointer;" class="fas fa-search" aria-hidden="true"></i>
          </div>
        <div class="row no-gutters"  style="padding: 10px;" >
            <div class="col-12">

            <app-danhsachra *ngIf="tab==0"></app-danhsachra>
            <app-danhsachvao *ngIf="tab==1"></app-danhsachvao>
            <app-indon *ngIf="tab==2"></app-indon>
            <app-timkiem *ngIf="tab==3"></app-timkiem>
            </div>
        </div>
      </div>
</div>