<div class="row no-gutters h-100 px-0">
    <app-menu></app-menu>
      <div class="col" id="contentmenu"> 
          <div class="row no-gutters align-items-center p-0" id="hidecolumn" style="height: auto;background-color: gray;">
              <span class="p-2 btn-secondary h-100  {{tab==0?'bg-dark':''}}" (click)="tabchange(0)"><i class="fas fa-sign-out-alt"></i>&nbsp;Danh sách đã ra </span>
              <span class="p-2 btn-secondary h-100  {{tab==1?'bg-dark':''}}" (click)="tabchange(1)"><i class="fas fa-sign-in-alt"></i>&nbsp;Danh sách đang ở</span>
              <span class="p-2 btn-secondary h-100   {{tab==2?'bg-dark':''}}" (click)="tabchange(2)"><i class="fas fa-list"></i>&nbsp;Danh sách phòng </span>
              <span class="p-2 btn-secondary h-100  {{tab==3?'bg-dark':''}}" (click)="tabchange(3)"><i class="fas fa-users"></i>&nbsp;Tài khoản chưa đồng bộ </span>
                <input class="form-control form-control-sm  w-25  "  type="text" placeholder="ID, CMTND, SDT, Khóa phòng, khóa tủ"   aria-label="Search" style="margin-left: 20px;" id="searchbox">
                <button class="btn btn-sm btn-info  " (click)="tabchange(4)" id="SEARCH" ><i style="cursor: pointer;" class="fas fa-search" aria-hidden="true"></i></button>
          </div>
        <div class="row no-gutters"  style="padding: 10px;" >
            <div class="col-12">

            <app-danhsachra *ngIf="tab==0"></app-danhsachra>
            <app-danhsachvao *ngIf="tab==1"></app-danhsachvao>
            <!-- <app-indon *ngIf="tab==2"></app-indon> -->
            <app-danhsachphong *ngIf="tab==2"></app-danhsachphong>
            <app-taikhoanchuadongbo *ngIf="tab==3"></app-taikhoanchuadongbo>
            <app-timkiem *ngIf="tab==4" [lisktx0020]="lisktx0020" [lisktx0023]="lisktx0023"></app-timkiem>
            </div>
        </div>
      </div>
</div>