<h5 class="w-100" style="text-align: center;"><B>LÝ LỊCH ỨNG VIÊN</B></h5>
<H6><B>I. THÔNG TIN CÁ NHÂN</B></H6>
<input name="maID" type="hidden">
<input name="RM0010_ID" type="hidden">
<table class="table table-bordered">
    <tr>
        <td>Họ<span style="color: red;"> (*)</span></td>
        <td><input type="text"  name="HODEM" [(ngModel)]="rm0010in.HODEM"></td>
        <td style="width: 80px;">Tên<span style="color: red;"> (*)</span></td>
        <td><input type="text" name="TEN" [(ngModel)]="rm0010in.TEN"></td>
        <td>Ngày sinh<span style="color: red;"> (*)</span></td>
        <td><input type="date" name="NGAYSINH" (ngModelChange)="rm0010in.NGAYSINH = $event"
                [ngModel]="rm0010in.NGAYSINH | date:'yyyy-MM-dd'"></td>
    </tr>
    <tr>
        <td>nơi sinh</td>
        <td colspan="5"><input type="text" name="NOISINH" [(ngModel)]="rm0010in.NOISINH"></td>
    </tr>
    <tr>
        <td>CMTND<span style="color: red;"> (*)</span></td>
        <td><input type="text" name="CMTND_SO" [(ngModel)]="rm0010in.CMTND_SO"></td>
        <td>Ngày cấp</td>
        <td><input type="date" name="CMTND_NGAYCAP" (ngModelChange)="rm0010in.CMTND_NGAYCAP = $event"
                [ngModel]="rm0010in.CMTND_NGAYCAP | date:'yyyy-MM-dd'"></td>
        <td>Noi cấp</td>
        <td><input type="text" name="CMTND_NOICAP" [(ngModel)]="rm0010in.CMTND_NOICAP"></td>
    </tr>
    <tr>
        <td>Giới tính<span style="color: red;"> (*)</span></td>
        <td>
            <select name="GIOITINH" [(ngModel)]="rm0010in.GIOITINH">

                <option value="true">Nam</option>
                <option value="false">Nữ</option>
            </select>
        </td>
        <td><span>Hôn nhân</span> </td>
        <td>
            <select name="HONNHAN" [(ngModel)]="rm0010in.HONNHAN">

                <option value="false">Độc thân</option>
                <option value="true">Đã kết hôn</option>
            </select>
        </td>
        <td style="width: 120px;">Điện thoại nhà</td>
        <td><input type="text" name="TELEPHONE" [(ngModel)]="rm0010in.TELEPHONE"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td colspan="3"><input type="text" name="EMAIL" [(ngModel)]="rm0010in.EMAIL"></td>
        <td>Di động<span style="color: red;"> (*)</span></td>
        <td><input type="text" name="MOBILE" [(ngModel)]="rm0010in.MOBILE"></td>
    </tr>
    <tr>
        <td>Chiều cao</td>
        <td colspan="2"><input type="text" name="CHIEUCAO" [(ngModel)]="rm0010in.CHIEUCAO"></td>
        <td>Cân nặng</td>
        <td colspan="2"><input type="text" name="CANNANG" [(ngModel)]="rm0010in.CANNANG"></td>
    </tr>
    <tr>
        <td>Thường trú</td>
        <td colspan="5"><input type="text" name="THUONGTRU" [(ngModel)]="rm0010in.THUONGTRU"></td>
    </tr>
    <tr>
        <td>Tạm trú</td>
        <td colspan="5"><input type="text" name="TAMTRU" [(ngModel)]="rm0010in.TAMTRU"></td>
    </tr>
</table>
&nbsp;
        <i>Thành phần gia đình</i>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Quan hệ</td>
            <td>Họ và tên</td>
            <td style="position: relative;">Làm gì, ở đâu...?</td>
            <td class=" {{check?'none3':''}}" style="width: 40px; "><button (click)="thanhphangiadinh()" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button></td>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let lop of rm0010in.RM0080">
            <td><input type="text" name="quanhe" [(ngModel)]="lop.QUANHE"></td>
            <td><input type="text" name="hoten" [(ngModel)]="lop.HOTEN"></td>
            <td><input type="text" name="lamgi" [(ngModel)]="lop.LAMGIODAU"></td>
            <td class=" {{check?'none3':''}}"><button class="btn btn-sm btn-secondary" (click)="thanhphangiadinh(lop)"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>
&nbsp;
<h6 class="w-100">THÔNG TIN DỰ TUYỂN</h6>
<table class="table table-bordered">
    <tr>
        <td>Vị trí dự tuyển nguyện vọng 1<span style="color: red;"> (*)</span>:</td>
        <td>Vị trí</td>
        <td>
            <select  class="form-control" id="nguyenvong1" [(ngModel)]="rm0010in.RM0001_ID">
                <option *ngFor="let element of listrm0001" value="{{element['RM0001_ID']}}">{{element['tenCongViec']}}
                </option>
            </select>
        </td>
        <td>Nguyện vọng 2:</td>
        <td>Vị trí</td>
        <td>
            <select class="form-control" name="RM0001_ID2" id="nguyenvong2" [(ngModel)]="rm0010in.RM0001_ID2">

                <option *ngFor="let element of listrm0001" value="{{element['RM0001_ID']}}">{{element['tenCongViec']}}
                </option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">Ngày có thể bắt đầu làm việc:</td>
        <td><input type="date" name="NGAYCOTHELAM" (ngModelChange)="rm0010in.NGAYCOTHELAM = $event"
                [ngModel]="rm0010in.NGAYCOTHELAM | date:'yyyy-MM-dd'"></td>
        <td colspan="2">Thu nhập mong muốn<span style="color: red;"> (*)</span>:</td>
        <td><input type="text" name="THUNHAPMONGMUON" [(ngModel)]="rm0010in.THUNHAPMONGMUON"></td>
    </tr>
    <tr>
        <td colspan="2">Bạn có thể làm ngoài giờ Có </td>
        <td colspan="2">Bạn có thể đi công tác</td>
        <td colspan="2">Đồng ý có thể thay đổi địa điểm</td>
    </tr>
    <tr>
        <td colspan="2">
            <select name="COTHELAMTHEM" [(ngModel)]="rm0010in.COTHELAMTHEM">

                <option value="true">Có</option>
                <option value="false">Không</option>
            </select>
        </td>
        <td colspan="2">
            <select name="COTHEDICONGTAC" [(ngModel)]="rm0010in.COTHEDICONGTAC">

                <option value="true">Có</option>
                <option value="false">Không</option>
            </select>
        </td>
        <td colspan="2">
            <select name="COTHETHAYDOIDIADIEM" [(ngModel)]="rm0010in.COTHETHAYDOIDIADIEM">

                <option value="true">Có</option>
                <option value="false">Không</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="5">Bạn đã từng thi tuyển vào Meiko chưa?</td>
        <td>
            <select name="DATUNGTHITUYENMEIKO" [(ngModel)]="rm0010in.DATUNGTHITUYENMEIKO">

                <option value="true">Có</option>
                <option value="false">Không</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="6">Nếu đã tham gia, đề nghị bạn vui lòng cho biết thời gian, vị trí bạn đã tham gia tuyển dụng lần
            trước:</td>
    </tr>
    <tr>
        <td colspan="6"><input type="text" name="NEUDATUNGTHITUYENMEIKO" [(ngModel)]="rm0010in.NEUDATUNGTHITUYENMEIKO">
        </td>
    </tr>
    <tr>
        <td colspan="5">Bạn biết thông tin tuyển dụng này từ nguồn nào?</td>
        <td>
            <select name="ID_NGUONTHONGTIN" [(ngModel)]="rm0010in.ID_NGUONTHONGTIN">

                <option *ngFor="let element of rm0100" value="{{element['RM0009_ID']}}">{{element['tenNguongThongTin']}}
                </option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="6">Bạn dự định gì cho tương lai trong vòng 3 năm tới - đánh số (từ 1,2...) theo thứ tự ưu tiên của
            bạn </td>
    </tr>
    <tr>
        <td colspan="2">
            <select name="DUDINHTUONGLAI" [(ngModel)]="rm0010in.DUDINHTUONGLAI">

                <option selected value="1">Ổn định, phát triển theo công việc hiện tại</option>
                <option value="2">Học thêm trong nước</option>
                <option value="3">Học thêm nước ngoài</option>
            </select>
        </td>
        <td>dự định học tiếp: </td>
        <td>
            <select name="DUDINHHOCTIEP" [(ngModel)]="rm0010in.DUDINHHOCTIEP">

                <option value="true">Có</option>
                <option value="false">Không</option>
            </select>
        </td>
        <td style="width: 120px;">Chuyên ngành:</td>
        <td><input type="text" name="DUDINHHOCTIEPCHUYENNGANH" [(ngModel)]="rm0010in.DUDINHHOCTIEPCHUYENNGANH"></td>
    </tr>
    <tr>
        <td>Sở thích</td>
        <td colspan="5"><textarea style="width: 100%;border: none;" [(ngModel)]="rm0010in.SOTHICH"></textarea></td>
    </tr>
    <tr>
        <td>Không thích thích</td>
        <td colspan="5"><textarea style="width: 100%;border: none;" [(ngModel)]="rm0010in.KHONGTHICH"></textarea></td>
    </tr>
    <tr>
        <td colspan="1">Các phẩm chất, kỹ năng đặc biệt ( nếu có): </td>
        <td colspan="5"><textarea style="width: 100%;border: none;"
                [(ngModel)]="rm0010in.CACPHAMCHATKYNANG"></textarea></td>
    </tr>
</table>
<I>Người báo tin trong trường hợp khẩn cấp</I>
<table class="table table-bordered">
    <tr>
        <td>Họ tên</td>
        <td><input type="text" name="HOTENNGUOITHAN" [(ngModel)]="rm0010in.HOTENNGUOITHAN"></td>
        <td>SDT</td>
        <td><input type="text" name="MOBILENGUOITHAN" [(ngModel)]="rm0010in.MOBILENGUOITHAN"></td>
    </tr>
    <tr>
        <td>Địa chỉ</td>
        <td colspan="3"><input type="text" name="DIACHINGUOITHAN" [(ngModel)]="rm0010in.DIACHINGUOITHAN"></td>
    </tr>
</table>
&nbsp;
<h6><b>III. QUÁ TRÌNH HỌC TẬP</b></h6>
<b>1. Quá trình học và đào tạo </b>
<table class="table table-bordered">
    <thead>
        <tr>
            <td colspan="2">Năm</td>
            <td rowspan="2">Chuyên ngành</td>
            <td rowspan="2">Tên trường</td>
            <td rowspan="2">Quốc gia</td>
            <td rowspan="2">Hệ đào tạo</td>
            <td rowspan="2" style="position: relative;" rowspan="2">Xếp loại</td>
            <td class=" {{check?'none3':''}}" style="width: 40px;" rowspan="2"><button (click)="addrm0081_a()" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button></td>
        </tr>
        <tr>
            <td>Bắt đầu</td>
            <td>Kết thúc</td>
        </tr>
    </thead>
    <tbody id="quatrinhhoctap">
        <tr *ngFor="let lop of rm0010in.RM0081_A">
            <td><input type="date" name="batdau" (ngModelChange)="lop.BATDAU = $event"
                    [ngModel]="lop.BATDAU | date:'yyyy-MM-dd'"></td>
            <td><input type="date" name="ketthuc" (ngModelChange)="lop.KETTHUC = $event"
                    [ngModel]="lop.KETTHUC | date:'yyyy-MM-dd'"></td>
            <td><input type="text" name="chuyennganh" [(ngModel)]="lop.CHUYENNGANH"></td>
            <td><input type="text" name="tentruong" [(ngModel)]="lop.TENTRUONG"></td>
            <td><input type="text" name="quocgia" [(ngModel)]="lop.QUOCGIA"></td>
            <td><input type="text" name="hedaotao" [(ngModel)]="lop.HEDAOTAO"></td>
            <td><select name="xeploai" [(ngModel)]="lop.XEPLOAI">
                    <option value="Xuất sắc">Xuất sắc</option>
                    <option value="Giỏi">Giỏi</option>
                    <option value="Khá">Khá</option>
                    <option value="Trung bình">Trung bình</option>
                    <option value="Yếu">Yếu</option>
                    <option value="Kém">Kém</option>
                </select></td>
                <td class=" {{check?'none3':''}}"><button (click)="addrm0081_a(lop)" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>
<br>
<b>2. Ngoại ngữ </b>
<table class="table table-bordered">
    <thead>
        <tr>
            <td rowspan="2">Các ngoại ngữ có thể sử dụng</td>
            <td rowspan="2">Bằng/Chứng chỉ</td>
            <td rowspan="2">Xếp loại/Điểm</td>
            <td rowspan="2">Ngày cấp</td>
            <td rowspan="1" style="position: relative;" colspan="4">Chi tiết (Tốt, khá, trung bình, yếu)</td>
            <td class=" {{check?'none3':''}}" rowspan="2" style="width: 40px;"><button (click)="addrm0081_b()" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button></td>
        </tr>
        <tr>
            <td>Nghe</td>
            <td>Nói</td>
            <td>Đọc</td>
            <td style="position: relative;">Viết</td>
        </tr>
    </thead>
    <tbody id="quatrinhngoaingu">
        <tr *ngFor="let lop of rm0010in.RM0081_B">
            <td><input type="text" name="NGOAINGU" [(ngModel)]="lop.NGOAINGU"></td>
            <td><input type="text" name="CHUNGCHI" [(ngModel)]="lop.CHUNGCHI"></td>
            <td><input type="text" name="XEPLOAI" [(ngModel)]="lop.XEPLOAI"></td>
            <td><input type="date" name="NGAYCAP" (ngModelChange)="lop.NGAYCAP = $event"
                    [ngModel]="lop.NGAYCAP |date:'yyyy-MM-dd'"></td>
            <td><input type="text" name="NGHE" [(ngModel)]="lop.NGHE"></td>
            <td><input type="text" name="NOI" [(ngModel)]="lop.NOI"></td>
            <td><input type="text" name="DOC" [(ngModel)]="lop.DOC"></td>
            <td><input type="text" name="VIET" [(ngModel)]="lop.VIET"></td>
            <td class=" {{check?'none3':''}}"><button (click)="addrm0081_b(lop)" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>
<b>3. Trình độ vi tính</b>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Tên phần mềm</td>
            <td style="position: relative;">Trình độ</td>
            <td class=" {{check?'none3':''}}" style="width: 40px;"><button (click)="vitinh()" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button></td>
        </tr>
    </thead>
    <tbody id="trinhdovitinh">
        <tr *ngFor="let lop of rm0010in.RM0081_C">
            <td><input type="text" name="TENPHANMEM" [(ngModel)]="lop.TENPHANMEM"></td>
            <td>
                <select name="TRINHDO" [(ngModel)]="lop.TRINHDO">
                    <option value="0">--Chọn--</option>
                    <option value="1">Trung bình</option>
                    <option value="2">Khá</option>
                    <option value="3">Tốt</option>
                    <option value="4">Thành thạo</option>
                </select>
            </td>
            <td class=" {{check?'none3':''}}"><button (click)="vitinh(lop)" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>
<b>4. Các giải thưởng, bằng khen khác (nếu có)</b>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Tên giải thưởng/bằng khen</td>
            <td>Lĩnh vực gì</td>
            <td>Tổ chức nào trao</td>
            <td style="position: relative;">Năm</td>
           <td class=" {{check?'none3':''}}"  style="width: 40px;"><button (click)="giaithuong()" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button></td>
        </tr>
    </thead>
    <tbody id="giaithuongbangkhenkhac">
        <tr *ngFor="let lop of rm0010in.RM0081_D">
            <td><input type="text" name="TENGIAITHUONG" [(ngModel)]="lop.TENGIAITHUONG"></td>
            <td>
                <select name="RM0002_ID" [(ngModel)]="lop.RM0002_ID">

                    <option *ngFor="let element of rm0002" value="{{element['RM0002_ID']}}">{{element['tenLinhVuc']}}
                    </option>
                </select>
            </td>
            <td><input type="text" name="TOCHUCTRAO" [(ngModel)]="lop.TOCHUCTRAO"></td>
            <td><input type="date" name="NAM" (ngModelChange)="lop.NAM = $event" [ngModel]="lop.NAM|date:'yyyy-MM-dd'">
            </td>
            <td class=" {{check?'none3':''}}"><button (click)="giaithuong(lop)" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>
&nbsp;
<h6><b>IV. QUÁ TRÌNH LÀM VIỆC (Bạn liệt kê đầy đủ theo thứ tự thời gian ngược, từ công việc hiện tại trở về thời điểm
        mới tốt nghiệp ra trường)</b></h6>
<table class="table table-bordered" id="quatrinhlamviec">
    <thead>
        <tr class=" {{check?'none3':''}}">
            <td style="position: relative;" colspan="9">
                <button (click)="qtlv()" class="btn btn-sm btn-primary float-right"><i class="fa fa-plus"></i></button>
            </td>
        </tr>
    </thead>
    <tbody style="border: solid 2px gray;" *ngFor="let lop of rm0010in.RM0081_E">
        <tr>
            <td colspan="2">Thời gian:</td>
            <td rowspan="2">Tên Công ty </td>
            <td rowspan="2">Của nước nào</td>
            <td rowspan="2">Ở tỉnh, thành phố nào</td>
            <td class=" {{check?'none3':''}}" rowspan="2"><button (click)="qtlv(lop)" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i></button></td>
        </tr>
        <tr>
            <td>Bắt đầu</td>
            <td>Kết thúc</td>
        </tr>
        <tr>
            <td><input type="date" name="BATDAU" (ngModelChange)="lop.BATDAU = $event"
                    [ngModel]="lop.BATDAU|date:'yyyy-MM-dd'"></td>
            <td><input type="date" name="KETTHUC" (ngModelChange)="lop.KETTHUC = $event"
                    [ngModel]="lop.KETTHUC|date:'yyyy-MM-dd'"></td>
            <td><input type="text" name="TENCONGTY" [(ngModel)]="lop.TENCONGTY"></td>
            <td><input type="text" name="QUOCGIA" [(ngModel)]="lop.QUOCGIA"></td>
            <td colspan="2"><input type="text" name="TINH" [(ngModel)]="lop.TINH"></td>
        </tr>
        <tr>
            <td>Vị trí công việc:</td>
            <td colspan="2"><input type="text" name="VITRI" [(ngModel)]="lop.VITRI"></td>
            <td>Mức lương cuối cùng:</td>
            <td colspan="2"><input type="text" name="MUCLUONG" [(ngModel)]="lop.MUCLUONG"></td>
        </tr>
        <tr>
            <td colspan="4"><i>Mô tả ngắn gọn về công việc và các thành tích đã đạt được:</i></td>
            <td colspan="2"><i>Lý do nghỉ việc:</i></td>
        </tr>
        <tr>
            <td colspan="4"><input type="text" name="MOTA" [(ngModel)]="lop.MOTA"></td>
            <td colspan="2"><input type="text" name="LYDONGHIVIEC" [(ngModel)]="lop.LYDONGHIVIEC"></td>
        </tr>
    </tbody>
</table>
<i>Bạn vui lòng cho biết người tham khảo (không phải là người thân) ở Công ty bạn làm việc gần đây nhất biết rõ về quá
    trình làm việc của bạn mà MKVC có thể tham khảo:</i>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Họ và tên</td>
            <td>Vị trí công tác</td>
            <td>Đơn vị công tác</td>
            <td >Điện thoại liên lạc</td>
            <td class=" {{check?'none3':''}}"  style="width: 40px;"> <button (click)="ntk()" class="btn btn-sm btn-primary float-right"><i class="fa fa-plus"></i></button></td>
        </tr>
    </thead>
    <tbody id="nguoithamkhao">
        <tr *ngFor="let lop of rm0010in.RM0081_F">
            <td><input type="text" name="HOTEN" [(ngModel)]="lop.HOTEN"></td>
            <td><input type="text" name="VITRI" [(ngModel)]="lop.VITRI"></td>
            <td><input type="text" name="DONVI" [(ngModel)]="lop.DONVI"></td>
            <td><input type="text" name="MOBILE" [(ngModel)]="lop.MOBILE"></td>
            <td class=" {{check?'none3':''}}" ><button (click)="ntk(lop)" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>
&nbsp;
<h6><b>IV. CAM KẾT</b></h6>
<I>
    Tôi xin cam đoan những thông tin cung cấp trên đây là chính xác và đúng sự thật.
    Tôi chấp nhận việc điều tra, thẩm tra đối với những thông tin về cá nhân, quá trình làm việc, tình hình tài chính,
    sức khỏe hoặc các vấn đề liên quan khác cần thiết để MKVC ra quyết định tuyển dụng.
</I><br>
<button (click)="save()" class="btn btn-primary"><i class="fa fa-save"></i></button>