<div class="row no-gutters h-100 px-0">
    <app-menu></app-menu>
      <div class="col" id="contentmenu"> 
        
        <!-- <div class="row no-gutters align-items-center" id="hidecolumn">
          <ng-container *ngFor="let element of listMKV8002;let i=index">
              <button (click)="active(element)" class="list-group-item  {{tab==i?'active':''}}"><i class="fas fa-sign-out-alt"></i>&nbsp;<span>{{element.ten}}</span> </button>
          </ng-container>
              <button (click)="themnhaan()" class="list-group-item tab"><i class="fas fa-plus"></i>&nbsp; </button>
                <input class="form-control form-control-sm  w-25 "  type="text" placeholder="Search" value="017308002"  aria-label="Search" style="margin-left: 20px;" id="searchbox">
                <button class="btn btn-sm btn-info" id="SEARCH" ><i style="cursor: pointer;" class="fas fa-search" aria-hidden="true"></i></button>
          </div> -->
        <div class="row no-gutters"  style="padding: 10px;" >
            <div class="col-12">
                <div class="card " id="testconvertPDF" style="background-color: rgba(255, 255, 255, 0.897);">
                    <div class="card-header py-1">
                      <div class="row no-gutters p-0">
                        <div class="col">
                          <!-- <span class="mr-2">Server:{{listdatamachine.length}}</span><span class="mr-2">Database:{{listdatadatabase.length}}</span>  
                          <span></span> -->
                        </div>
                        <div class="col-auto">
                          <app-button-count classs="eeeeeeeeeeeeeeee" [start]="start" [step]="step" [listdata]="listMKV9999"  (step)="getstep ($event)"  ></app-button-count>
                          <app-button-preview classs="btn-sm"  [start]="start" [step]="step" [listdata]="listMKV9999" (start)="getstart ($event)" ></app-button-preview>
                          <app-button-next classs="btn-sm mr-2" [start]="start" [step]="step" [listdata]="listMKV9999"  (start)="getstart ($event)" ></app-button-next>
                  
                          <app-button-datetimepicker classs="btn btn-sm btn-outline-secondary mr-1"  ids="jkkjjjkdf"   (data)="getstartdate($event)"></app-button-datetimepicker>
                        
                          <app-button-datetimepicker classs="btn btn-sm btn-outline-secondary mr-1"  ids="jkkjjjk"   (data)="getenddaate($event)"></app-button-datetimepicker>
                        
                          <input type="text" placeholder="ID, Tên" class="btn btn-outline-secondary mr-1 btn-sm" [(ngModel)]="keysearch">
                      
                          <button title="Đồng bộ" (click)="getdataa(true)"  class="btn btn-success  mr-1 btn-sm"><i class="fas fa-sync-alt"></i></button>
                        
                          <button class="btn btn-info mr-1 btn-sm" title="Lưu dưới dạng excel" (click)="Downloadtable()"><i class="fa fa-download"></i></button>
                        
                          <button (click)="loadmachine()" class="btn btn-warning text-white mr-1 btn-sm" title="Download dữ liệu từ máy chấm vân tay về"><i class="fas fa-cloud-download-alt"></i></button>
                        
                          <button class="btn btn-danger mr-1 btn-sm" (click)="delete()" title="Xóa dữ liệu máy chấm vấn tay"><i class="fas fa-trash-alt"></i></button>
                      
                          <button title="Thiết lập máy quẹt vân tay" (click)="themnhaan()"  class="btn btn-primary btn-sm"><i class="fa fa-cog"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="card-body" style="padding: 5px;">
                        <table class="table table-bordered ddddddddddddddddddddd" id="export" style="font-size: 12px;">
                            <thead><tr>
                                <th style="width: 20px;"><input type="checkbox" ></th>
                                <th style="width: 40px;">STT</th>
                                <th>Tên <app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="hoten"></app-button-sort></th>
                                <th>ID<app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="manhansu"></app-button-sort></th>
                                <th (click)="test()">BP</th>
                                <th>Bậc</th>
                                <th>CMTND</th>
                                <th>Phòng<app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="phong"></app-button-sort></th>
                                <th>Ngày vào</th>
                                <th>Ngày ở<app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="count"></app-button-sort></th>
                                <th>Không ở iên tiếp<app-button-sort [listdata]="listMKV9999" (listdata)="getlist($event)" key="step"></app-button-sort></th>
                              </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let element of listMKV9999;let i=index">
                                  <ng-container *ngIf="((i>=start*step) && (i<(start+1)*step))&&keysearch==''||search(element)&&keysearch!=''">
                                    <ng-container >
                                        <tr>
                                            <td><input type="checkbox" name="" id=""></td>
                                            <td>{{i+1}}</td>
                                            <td>{{element.hoten}}</td>
                                            <td>{{element.manhansu}}</td>
                                            <td>{{element.bophan_ten}}</td>
                                            <td>{{element.capbac}}</td>
                                            <td>{{element.cmtnd_so}}</td>
                                            <td>{{element.phong}}</td>
                                            <td>{{element.ngaycohieuluc}}</td>
                                            <td>{{element.count}}</td>
                                           <td>{{element.step-1}}  <!-- <i style="cursor: pointer;" title="element.list.join('&#10;')" class="fa fa-eye float-right"></i>--> </td> 
                                        </tr>
                                    </ng-container>
                                    <!-- <ng-container *ngIf="element.MKV9999==null">
                                        <tr style=" background-color: rgb(255, 238, 238);">
                                            <td><input type="checkbox" name="" id=""></td>
                                            <td>{{i+1}}</td>
                                            <td>Không có dữ liệu</td>
                                            <td>{{element.User_ID}}</td>
                                            <td>Không có dữ liệu</td>
                                            <td>Không có dữ liệu</td>
                                            <td>Không có dữ liệu</td>
                                            <td>{{element.phong2}}</td>
                                            <td>{{element.ngayvao!=null?(element.ngayvao|date:'dd/MM/yyyy'):''}}</td>
                                            <td>{{element.count!=null?element.count:'NaN'}}</td>
                                            <td>{{element.step!=null?element.step:'NaN'}}</td>
                                        </tr>
                                    </ng-container> -->
                                  </ng-container>
                                </ng-container>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>


<app-loading [loading]="loading" caption="Đang đồng bộ dữ liệu. Có thể mất vài phút, xin vui lòng chờ."></app-loading>

<div class="modal fade " id="themnhaanmodal" role="dialog" >
	<div class="modal-dialog   modal-1360" >
		<div class="modal-content " >
			<div class="modal-header" >
				<h5 class="modal-title"><i class="fa fa-cog"></i>&nbsp;&nbsp; SETTING</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body ">
        <div id="accordion">
          <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                  aria-controls="collapse2" id="heading2">
              <h5 class="mb-0">
                  <i class="fa fa-users">&nbsp;Cài đặt danh sách người ra vào không có trên hệ thống HR</i>
              </h5>
            </div>

            <div id="collapse2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <app-select-account-add-ktx (listdata)="getlistdata($event)"></app-select-account-add-ktx>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" id="headingOne">
                <h5 class="mb-0">
                    <i class="fa fa-cog">&nbsp;Cài đặt máy chấm vân tay</i>
                </h5>
              </div>
  
              <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
        <TABLE class="table table-bordered table-hover">
          <tbody>
            <tr>
              <th> TÊN </th>
              <TD><input type="text" [(ngModel)]="newnhaan.ten" placeholder="Tên máy vân tay" class="form-control"></TD>
            </tr>
            <tr>
              <th> IP </th>
              <TD><input type="text" [(ngModel)]="newnhaan.ip" placeholder="IP của máy vân tay" class="form-control"></TD>
            </tr>
            <tr>
              <th> PORT  </th>
              <TD><input type="text" [(ngModel)]="newnhaan.port" placeholder="Port, thường là 4370" class="form-control"></TD>
            </tr>
            <tr>
              <th> COMMKEY </th>
              <TD><input type="text" [(ngModel)]="newnhaan.commkey" placeholder="Cổng COMM, Thường là 0" class="form-control"></TD>
            </tr>
            <tr>
              <th> GHI CHÚ </th>
              <TD><input type="text" [(ngModel)]="newnhaan.ghiChu" placeholder="Ghi chú" class="form-control"></TD>
            </tr>
          </tbody>
        </TABLE>
        <button (click)="save()" class="btn btn-primary float-right"><i class="fa fa-save"></i></button>
        <br>
        <br>
        <table class="table table-bordered table-hover">
          <tr>
            <td>STT</td>
            <td>Tên</td>
            <td style="width: fit-content;">IP</td>
            <td style="width: 100px;">Port</td>
            <td style="width: 100px;">Comm</td>
            <td>Ghi chú</td>
            <td><i class="fa fa-list"></i></td>
          </tr>
          <ng-container *ngFor="let element of listMKV8002;let i=index">
            <tr id="row{{element.MKV8002_ID}}">
              <td>{{i+1}}</td>
              <td><input type="text" [(ngModel)]="element.ten" placeholder="Tên" disabled class="form-control none"></td>
              <td><input type="text" [(ngModel)]="element.ip" placeholder="IP" disabled class="form-control none"></td>
              <td><input type="text" [(ngModel)]="element.port" placeholder="Port" disabled class="form-control none"></td>
              <td><input type="text" [(ngModel)]="element.commkey" placeholder="Commkey" disabled class="form-control none"></td>
              <td><input type="text" [(ngModel)]="element.ghiChu" placeholder="Ghi chú" disabled class="form-control none"></td>
            <td><button class="btn" id="edit{{element.MKV8002_ID}}" (click)="edititem(element)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-sm deleteitem" (click)="deleteitem(element)"><i class="far fa-trash-alt"></i></button></td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
			</div>
		</div>
	</div>
</div>