<div class="col col-auto bg-dark gh no-gutters h-100 bg-dark" style="padding: 0;" >
    <ul class="list-group list-group-flush h-100 bg-dark no-gutters" id="dfdfdfdf">
      <li class="list-group-item bg-dark menuclick" id="{{element.LINKMENU}}" *ngFor="let element of menu">
        <a routerLink="/{{element.LINKMENU}}"  [queryParams]="{ flag: idcha}">
          <i class="fas fa-briefcase"></i>
          <span>&nbsp;&nbsp;{{element.TENHANHDONG}}</span>
      </a>
        
      </li>
        </ul>
</div>
