<div class="row no-gutters h-100">
  <app-menu></app-menu>
    <div class="col" id="contentmenu" style="padding: 10px;">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              Biểu đồ 1
            </div>
            <div class="card-body">
              <canvas id="myChart" style="width:100%;" height="400"></canvas>
            </div>
          </div>
          
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              Biểu đồ 2
            </div>
            <div class="card-body">
              <canvas id="myChart2" style="width:100%;" height="400"></canvas>
            </div>
          </div>
          
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              Biểu đồ 3
            </div>
            <div class="card-body">
              <canvas id="myChart3" style="width:100%;" height="400"></canvas>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
</div>
