<div class="row no-gutters px-2 py-2">
    <div class="col-12">
        <div class="card  " style="background-color: rgba(255, 255, 255, 0.842);">
            <div class="card-header">
              <div class="row">
                <div class="col">DANH SÁCH ĐÁNH GIÁ</div>
                <div class="col-auto">
                  <select class="btn btn-secondary mr-2" (change)="bophanchange($event)">
                    <option value="all">BỘ PHẬN All</option>
                    <option value="{{element.T098C}}" *ngFor="let element of listmkv9998">{{element.T002C}}</option>
                  </select>
                  <select  class="btn btn-secondary mr-2" >
                    <option value="all">VỊ TRÍ All</option>
                    <option value="{{element.RM0001_ID}}" *ngFor="let element of listRM0001">{{element.tenCongViec}}</option>
                  </select>
                  <button class="btn btn-primary" (click)="themungvien()"><i class="fa fa-plus"></i></button>
                </div>
              </div>
              
            </div>
            <div class="card-body" style="padding: 5px;background-color: rgba(255, 255, 255, 0) !important;">
              <div class="row no-gutters">
                <table class="table table-bordered table-hover  tablelistdon" id="tabletoexport">
                  <thead>
                      <tr>
                        <th style="width: 20px;"><input type="checkbox" ></th>
                        <th style="width: 40px;">STT</th>
                        <th>Ứng viên</th>
                        <th>Ngày sinh</th>
                        <th>CMTND</th>
                        <th>Vị trí 1</th>
                        <th>Vị trí 2</th>
                        <ng-container *ngFor="let element of listRM0006">
                            <th>{{element.tenTieuChiDG}}</th>
                        </ng-container>
                        <th>Kết quả</th>
                        <th style="width: 90px;text-align: center;"><i class="fa fa-list"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  id="tr{{element.RM0015_ID}}"  *ngFor="let element of listRM0015;let i=index;" style="cursor: pointer;padding: 0;">
                    
                        <td style="width: 20px;"><input type="checkbox" ></td>
                        <td style="width: 40px;">STT</td>
                        <td (click)="showungvien(element)">{{element.RM0010.HODEM+" " + element.RM0010.TEN}}</td>
                        <td>{{element.RM0010!=null?(element.RM0010.NGAYSINH|date:'dd-MM-yyyy'):''}}</td>
                        <td>{{element.RM0010!=null?(element.RM0010.CMTND_SO):''}}</td>
                        <td>{{element.RM0010!=null?(element.RM0010.RM0001!=null?element.RM0010.RM0001.tenCongViec:""):''}}</td>
                        <td>{{element.RM0010!=null?(element.RM0010.RM0001_2!=null?element.RM0010.RM0001_2.tenCongViec:""):''}}</td>
                        <ng-container *ngFor="let element2 of element.RM0006">
                            <td style="text-align: center;"  (click)="danhgia(element,element2)" class=" {{element2.RM0013!=null?(element2.RM0013.ketQua==null?'btn-secondary':(element2.RM0013.ketQua?'btn-success':'btn-danger')):'btn-secondary'}}"><i class="fa {{element2.RM0013!=null?(element2.RM0013.ketQua==null?'fa-circle-notch fa-spin':(element2.RM0013.ketQua?'fa-thumbs-up':'fa-thumbs-down')):'fa-circle-notch fa-spin'}}"></i></td>
                        </ng-container>
                        <td style="text-align: center;"   class=" {{element.ketQua!=null?((element.ketQua?'btn-success':'btn-danger')):'btn-secondary'}}"><i class="fa {{element.ketQua!=null?((element.ketQua?'fa-thumbs-up':'fa-thumbs-down')):'fa-circle-notch fa-spin'}}"></i></td>
                        <td style="width: 100px;text-align: center;">
                            <button (click)="hoidongphongvan(element)" class="btn-sm btn"><i class="fa fa-eye"></i></button> 
                            <button (click)="suachitietdanhgia(element)"  class="btn-sm btn"><i class="fa fa-edit"></i></button> 
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>
  
          </div>

    </div>
        </div>

          <div class="modal fade " id="modalungvien" role="dialog"  data-backdrop="static" data-keyboard="false" >
            <div class="modal-dialog   modal-900" >
                <div class="modal-content " >
                    <div class="modal-header">
                        <h5 class="modal-title">Thông tin chi tiết ứng viên</h5>
                        <button type="button" class="close" (click)="close()">&times;</button>
                    </div>
                    <div class="modal-body ">
                <app-form-lylichungvien [rm0010in]="rm0010in" [check]="true" (rm0010out)="getrm0010($event)"></app-form-lylichungvien>
                    </div>
                </div>
            </div>
        </div>

       
<div class="modal fade " id="hoidongphongvan" role="dialog" >
	<div class="modal-dialog   modal-700" >
		<div class="modal-content " >
			<div class="modal-header">
				<h5 class="modal-title">THÔNG TIN CUỘC PHỎNG VẤN</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body ">
                <span>Hội đồng phỏng vấn</span>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>STT</td>
                            <td>ID</td>
                            <td>TÊN</td>
                            <td>BP</td>
                            <td style="text-align: center;"><i class="fa fa-list"></i></td>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let element of thisRM0015.RM0015A;let i=index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{element.MKV9999.manhansu}}</td>
                                <td>{{element.MKV9999.hodem+' '+element.MKV9999.ten}}</td>
                                <td>{{element.MKV9999.thetu_id}}</td>
                                <td style="text-align: center;">
                                    <button class="btn btn-sm btn-info mr-1"><i class="fas fa-comment-dots"></i></button>
                                    <button class="btn btn-sm btn-info mr-1"><i class="fas fa-envelope"></i></button>
                                </td>
                            </tr>
                        </ng-container>
                           
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>
  
<div class="modal fade " id="suachitietdanhgia" role="dialog" >
	<div class="modal-dialog   modal-700" >
		<div class="modal-content " >
			<div class="modal-header">
				<h5 class="modal-title">SỬA CHI TIẾT ĐÁNH GIÁ</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body ">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>STT</td>
                            <td>TIÊU CHÍ</td>
                            <td>KẾT QUẢ</td>
                            <td>NHẬN XÉT</td>
                            <!-- <td style="text-align: center;"><i class="fa fa-list"></i></td> -->
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let element of thisRM0015.RM0006;let i=index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{element.tenTieuChiDG}}</td>
                                <td>
                                    <select class="form-control" [(ngModel)]="element.RM0013.ketQua">
                                        <option value="true">Đạt</option>
                                        <option value="false">Trượt</option>
                                    </select>
                                </td>
                                <td>
                                    <textarea class="form-control" [(ngModel)]="element.RM0013.nhanXet"></textarea>
                                </td>
                                <!-- <td style="text-align: center;">
                                    <button class="btn btn-sm btn-info mr-1"><i class="fas fa-comment-dots"></i></button>
                                    <button class="btn btn-sm btn-info mr-1"><i class="fas fa-envelope"></i></button>
                                </td> -->
                            </tr>
                        </ng-container>
                           
                    </tbody>
                </table>
                <button (click)="saveeditdanhgia()" class="float-right btn btn-primary"><i class="fa fa-save"></i></button>
			</div>
		</div>
	</div>
</div>
