<div class="row no-gutters px-2 py-2">
    <div class="col-12">
        <div class="card  " style="background-color: rgba(255, 255, 255, 0.842);">
            <div class="card-header">
              <div class="row">
                <div class="col">DANH SÁCH LỊCH HẸN</div>
                <div class="col-auto">
                  <span class="mr-3">
                      <!-- <span class="mr-3">Xem {{((start+1)*step)>=listRM0015.length?((listRM0015.length-step+1)<0?1:(listRM0015.length-step+1)):((start+1)*step-(step)+1)}}-{{((start+1)*step)>=listRM0015.length?listRM0015.length:((start+1)*step)}} của {{listRM0015.length}}</span>
                      <button (click)="pre()" class="btn btn-sm btn-secondary mr-1" ><i class="fas fa-angle-left"></i></button>
                      <button (click)="nex()" class="btn btn-sm btn-secondary mr-2" ><i class="fas fa-angle-right"></i></button> -->

                      
                    <app-button-count classs="tyuioi" [start]="start" [step]="step" [listdata]="listRM0015" class="mr-2" (step)="getstep($event)" ></app-button-count>
                    <app-button-preview [start]="start" [step]="step" [listdata]="listRM0015" (start)="getstart($event)"></app-button-preview>
                    <app-button-next class="mr-2" [start]="start" [step]="step" [listdata]="listRM0015" (start)="getstart($event)"></app-button-next>

                  </span>
                      <button *ngIf="disabled==false" title="Đồng ý lịch hẹn" (click)="agree()" class="btn  btn-success mr-2" ><i class="fas fa-check"></i></button>
                  <button title="Xuất file" class="btn btn-info mr-2" (click)="download('tableexport')"><i class="fa fa-download"></i></button>
                  <select class="btn btn-secondary mr-2" (change)="bophanchange($event)">
                    <option value="all">BỘ PHẬN All</option>
                    <option value="{{element.phong_id}}" *ngFor="let element of listMKV9998">{{element.bophan_ten}}</option>
                  </select>
                  <select class="btn btn-secondary mr-2" (change)="vitrichange($event)">
                    <option value="all">VỊ TRÍ All</option>
                    <option value="{{element.RM0001_ID}}" *ngFor="let element of listRM0001">{{element.tenCongViec}}</option>
                  </select>
                  <button *ngIf="disabled==true" title="Xóa lịch hẹn đã chọn" class="btn btn-secondary mr-2" (click)="deleteall()"><i class="fa fa-trash"></i></button>
                </div>
              </div>
              
            </div>
            <div class="card-body" style="padding: 5px;background-color: rgba(255, 255, 255, 0) !important;">
              <div class="row no-gutters">
                <table class="table table-bordered tablelistdon" id="tableexport" >
                  <thead><tr>
                    <th style="width: 20px;"><input type="checkbox" (change)="Chooseall()" [(ngModel)]="checkall" ></th>
                    <th style="width: 20px;">S</th>
                    <th>Ứng viên</th>
                    <th>Vị trí 1</th>
                    <th>Vị trí 2</th>
                    <th>Thời gian</th>
                    <th>Địa điểm</th>
                    <th>Hội đồng PV</th>
                    <th  *ngIf="disabled==true"  style="width: 80px;text-align: center;"><i class="fa fa-list"></i></th>
                  </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let element of listRM0015;let i=index;">
                      <ng-container *ngIf="element.RM0010.bophanid==bophanid||bophanid=='all'">
                      <ng-container *ngIf="element.RM0010.RM0001.RM0001_ID==vitriid||vitriid=='all'">
                        <ng-container *ngIf="((i>=start*step) && (i<(start+1)*step))||bophanid!='all'">
                              <tr (click)="Choose(element)"  id="tr{{element.RM0015_ID}}"  style="cursor: pointer;padding: 0;">
                                <td style="text-align: center;"><input  type="checkbox" [(ngModel)]="element.check" ></td>
                                <td style="width: 40px;">{{i+1}}</td>
                                <td><u (click)="showungvien(element)">{{element.RM0010.HODEM+" " + element.RM0010.TEN}}</u></td>
                                <td>{{element.RM0010.RM0001!=null?element.RM0010.RM0001.tenCongViec:''}}</td>
                                <td>{{element.RM0010.RM0001_2!=null?element.RM0010.RM0001_2.tenCongViec:""}}</td>
                                  <td>
                                      <span class="show">{{element.thoiGianPhongVan|date:'yyyy-MM-dd HH:mm' }}</span>
                                      <!-- <input class="hide form-control w-50" type="date" [ngModel]="element.ngayPV" (ngModelChange)="element.ngayPV=$event">
                                      <input class="hide form-control w-50" type="time" [ngModel]="element.thoiGianPV" (ngModelChange)="element.thoiGianPV=$event"> -->
                                      <span class="hide"><app-button-datetimepicker classs="hide" ids="time{{element.RM0015_ID}}" [values]="element.thoiGianPhongVan"   (data)="getstartdate($event,element)" width="100%'"></app-button-datetimepicker></span>
                                      
                                  </td>
                                <td>
                                      <span class="show">{{element.RM0008!=null?element.RM0008.DiaDiem:""}}</span>
                                      <select class="hide form-control"  [(ngModel)]="element.RM0008_ID "  >
                                          <option >Xin chọn địa điểm</option>
                                          <option  *ngFor="let element of listRM0008" value="{{element['RM0008_ID']}}"> {{element['DiaDiem']}}</option>
                                      </select>
                                </td>
                                <td>
                                    <ng-container *ngFor="let button of element.RM0015A">
                                      <button style="padding: 2px 3px;" (click)="info(button)" class="btn btn-sm {{button.trangThai?'btn-success':'btn-secondary'}} mr-1 mt-1">{{button.MKV9999.hodem+' '+button.MKV9999.ten}} <i (click)="removeaccount(element,button)" class="fa fa-times {{button.check?'show':'hide'}}"></i></button>
                                    </ng-container>
                                    <button style="padding: 2px 3px;"  class="btn btn-sm btn-primary hide mt-1 mr-1" (click)="selectaccount(element)"><i class="fa fa-plus"></i></button>
                                </td>
                                  <td  *ngIf="disabled==true" >
                                      <button (click)="edititem(element)" id="edit{{element.RM0015_ID}}" class="btn btn-sm"><i class="fa fa-edit"></i></button>
                                      <button (click)="deleteitem(element)"  id="delete{{element.RM0015_ID}}"  class="btn btn-sm"><i class="fa fa-trash"></i></button>
                                  </td>
                              </tr>

                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
              </div>
              
            </div>
  
          </div>

    </div>
        </div>

          <div class="modal fade " id="modalungvien" role="dialog"  data-backdrop="static" data-keyboard="false" >
            <div class="modal-dialog   modal-900" >
                <div class="modal-content " >
                    <div class="modal-header">
                        <h5 class="modal-title">Thông tin chi tiết ứng viên</h5>
                        <button type="button" class="close" (click)="close()">&times;</button>
                    </div>
                    <div class="modal-body ">
                <app-form-lylichungvien [rm0010in]="rm0010in" [check]="true" (rm0010out)="getrm0010($event)"></app-form-lylichungvien>
                    </div>
                </div>
            </div>
        </div>

<!--         
<div class="modal fade " id="selectaccount" role="dialog" >
	<div class="modal-dialog   modal-700" >
		<div class="modal-content " >
			<div class="modal-header">
                        <div class="row w-100">
                              <div class="col"><h5 class="modal-title">Chọn tài khoản phỏng vấn</h5> </div>
                              <div class="col-auto">
                                    <span class="mr-3">{{((start2+1)*step2)>=listMKV9999.length?listMKV9999.length:((start2+1)*step2)}}/{{listMKV9999.length}}</span>
                                          <button (click)="pre2()" class="btn btn-sm btn-secondary mr-1" ><i class="fas fa-angle-left"></i></button>
                                          <button (click)="nex2()" class="btn btn-sm btn-secondary mr-3" ><i class="fas fa-angle-right"></i></button>
                                          <button (click)="closeselectaccount()" class="btn btn-sm btn-secondary" ><i class="fa fa-times"></i></button>
                              </div>
                        </div>
				
				
			</div>
			<div class="modal-body ">
                        <table class="table table-bordered">
                              <thead>
                                    <tr>
                                          <th>STT</th>
                                          <th>ID</th>
                                          <th>Tên</th>
                                          <th>Bộ phận</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    <ng-container *ngFor="let element of listMKV9999;let i=index">
                                          <ng-container *ngIf="(i>=start2*step2) && (i<(start2+1)*step2)">
                                                <tr style="cursor: pointer;" id="tracc{{element.manhansu}}" (click)="chooseaccount(element)" class="{{checkelement(element)}}">
                                                      <td>{{i+1}}</td>
                                                      <td>{{element.manhansu}}</td>
                                                      <td>{{element.hodem+' '+element.ten}}</td>
                                                      <td>{{element.thetu_id}}</td>
                                                </tr>
                                          </ng-container>
                                    </ng-container>
                              </tbody>
                        </table>
			</div>
		</div>
	</div>
</div> -->




<app-select-account-modal   (datasingle)="chooseaccount($event)" [listMKV9999choose]="listMKV9999choose"></app-select-account-modal>

 <div class="modal fade " id="userinfor" role="dialog"  >
  <div class="modal-dialog   modal-500" >
      <div class="modal-content " >
          <div class="modal-header">
              <h5 class="modal-title">CHI TIẾT TÀI KHOẢN</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body ">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td colspan="2"><img src="" alt="ẢNH ĐẠI DIỆN"></td>
                </tr>
                <tr>
                  <td>ID</td>
                  <td>{{userinfor.MKV9999!=null?userinfor.MKV9999.manhansu:''}}</td>
                </tr>
                <tr>
                  <td>TÊN</td>
                  <td>{{userinfor.MKV9999!=null?userinfor.MKV9999.hodem+' '+userinfor.MKV9999.ten:''}}</td>
                </tr>
                <tr>
                  <td>BỘ PHẬN</td>
                  <td>{{userinfor.MKV9999!=null?userinfor.MKV9999.thetu_id:''}}</td>
                </tr>
                <tr>
                  <td>SDT</td>
                  <td>{{userinfor.MKV9999!=null?userinfor.MKV9999.dienthoai_didong:''}}</td>
                </tr>
                <TR>
                  <td colspan="2" *ngIf="userinfor.MKV9999!=null">
                    <app-button-messager [MKV9999]="user" [MKV99992]="userinfor.MKV9999"></app-button-messager>
                    <app-button-email></app-button-email>
                    <app-button-call></app-button-call>
                  </td>
                </TR>
              </thead>
            </table>
          </div>
      </div>
  </div>
</div>