<div class="row no-gutters h-100">
    <app-menu></app-menu>
      <div class="col" id="contentmenu">
        <div class="row no-gutters" id="hidecolumn">
          <button class="list-group-item tab"><i class="fas fa-list"></i>&nbsp;<span>Danh mục đồ dùng thiết bị</span> </button>
          <button class="list-group-item tab"><i class="fas fa-sort-amount-up-alt"></i>&nbsp;<span>Thiết lập tài sản cố định</span> </button>
          <button class="list-group-item tab"><i class="fas fa-sort-amount-up-alt"></i>&nbsp;<span>Thiết lập đồ dùng cấp phát</span> </button>
      </div>
          <app-danhmuctaisasn [ktx10temp]="ktx0010" (ktx10out)="getktx10($event)" (ktx10delete)="deletektx10($event)"  *ngIf="tab==0"></app-danhmuctaisasn>
          <app-thietlaptaisancodinh [ktx10temp]="ktx0010" *ngIf="tab==1"></app-thietlaptaisancodinh>
    </div>
  </div>
  <div class="modal fade " id="thietlapmodal" role="dialog" >
    <div class="modal-dialog   modal-900" >
      <div class="modal-content " >
        <div class="modal-header">
          <h5 class="modal-title">THIẾT LẬP ĐỒ DÙNG CẤP PHÁT MẶC ĐỊNH KHI SẮP PHÒNG</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body ">
          
          <TABLE class="table table-bordered ">
            <thead>
              <TR>

              <td>STT</td>
              <td>TÊN ĐỒ DÙNG/TB</td>
              <td>GIÁ TIỀN</td>
              <td>GHI CHÚ</td>
              <td style="width: 30px;"><button title="Thêm " style="margin-left: 10px;"  id="themKHU" class="btn btn-primary float-right"><i class="fa fa-plus"></i></button></td>
              </TR>
            </thead>
            <TBOdy>
                <TR *ngFor="let element of ktx0010;let index=index">
                  <td>{{index+1}}<input type="hidden" disabled class="form-control none" name=""  value="{{element.KTX0010_ID }}" ></td>
                  <td><input type="text" disabled class="form-control none" name="ten"  value="{{element.ten }}" ></td>
                  <td><input type="text" disabled class="form-control none" name="giatien"  value="{{element.giatien }}"></td>
                  <td><input type="text" disabled class="form-control none" name="ghichu"  value="{{element.ghichu }}"></td>
                  
                  <td><button title="Sửa" class="btn btn-secondary edititem"><i class="fa fa-edit"></i></button></td>
                </TR>
            </TBOdy>
          </TABLE>
        </div>
        <div class="modal-footer">
          <button id="savesetting" type="button" class="userbutton btn btn-info float-right" ><i class="fa fa-check"></i></button>
        </div>
      </div>
    </div>
  </div>
  