<div class="row no-gutters h-100">
    <app-menu></app-menu>
      <div class="col" id="contentmenu">
        <!-- <div class="row no-gutters" id="hidecolumn">
          <button class="list-group-item tab {{tab==0?'active':''}}"> </button>
          <button class="list-group-item tab {{tab==1?'active':''}}"></span> </button>
          <button class="list-group-item tab {{tab==2?'active':''}}"></span> </button>
      </div> -->
      <div class="row no-gutters align-items-center p-0" id="hidecolumn" style="height: auto;background-color: gray;">
        <span class="p-2 btn-secondary h-100  {{tab==0?'bg-light text-dark ':''}}" (click)="tabchange(0)"><i class="fas fa-list"></i>&nbsp;Danh mục đồ dùng thiết bị</span>
        <span class="p-2 btn-secondary h-100  {{tab==1?'bg-light text-dark ':''}}" (click)="tabchange(1)"><i class="fas fa-sort-amount-up-alt"></i>&nbsp;Thiết lập tài sản cố định</span>
        <span class="p-2 btn-secondary h-100   {{tab==2?'bg-light text-dark ':''}}" (click)="tabchange(2)"><i class="fas fa-sort-amount-up-alt"></i>&nbsp;Thiết lập đồ dùng cấp phát </span>
    </div>
          <app-danhmuctaisasn [ktx10temp]="ktx0010" (ktx10out)="getktx10($event)" (ktx10delete)="deletektx10($event)"  *ngIf="tab==0"></app-danhmuctaisasn>
          <app-thietlaptaisancodinh [ktx10temp]="ktx0010" *ngIf="tab==1"></app-thietlaptaisancodinh>
          <app-dodungcapphatkhisapphong [ktx10temp]="ktx0010" (ktx10out)="getktx10($event)"  *ngIf="tab==2"></app-dodungcapphatkhisapphong>
    </div>
  </div>
  