<div class="row no-gutters h-100">
  <app-menu></app-menu>
  <div class="col" id="contentmenu" style="padding: 10px;">
    <div class="row no-gutters">

      <div class="col no-gutters">
        <div class="card">
          <div class="card-header">
            DANH SÁCH ĐƠN
            <button title="Thêm đơn" style="margin-left: 10px;"  class="btn btn-secondary float-right adddon"><i
                class="fa fa-plus"></i></button>
          </div>
          <div class="card-body" style="padding: 5px;">
            <div class="row no-gutters" *ngIf="form=='showdon'">
              <table class="table table-bodered">
                <thead>
                  <th>STT</th>
                  <th>LOẠI ĐƠN</th>
                  <th>NGƯỜI TẠO</th>
                  <th>THỜI GIAN TẠO</th>
                  <th>TRẠNG THÁI</th>
                  <th>CHỨC NĂNG</th>
                </thead>
                <tbody>
                  <tr *ngFor="let element of listdon;let i=index;">
                    <td>{{i+1}}</td>
                    <td>ĐƠN XIN Ở KÝ TÚC XÁ</td>
                    <td>{{element.hotenkhaisinh}}</td>
                    <td>{{element.ngaytaodon| date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{element.trangthai?"Đã duyệt":"Chưa duyệt"}}</td>
                    <td><button name="{{element.KTX0020_ID}}" class="btn editdon"><i class="fa fa-edit"></i></button>&nbsp;&nbsp;<button class="btn deletedon"><i class="fas fa-trash-alt"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <app-formdangkyokytucxa *ngIf="form=='formdangkyokytucxa'" [ktx20temp]="ktx20temp"  (ktx20out)="getktx20($event)" ></app-formdangkyokytucxa>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>


<div class="modal fade " id="formdangdyokytucxa" role="dialog">
  <div class="modal-dialog   modal-75">
    <div class="modal-content ">
      <div class="modal-header">
       
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body ">
      </div>
      <div class="modal-body ">

      </div>
      <div class="modal-footer">
        <button id="UPDATEinfo" type="button" class="userbutton btn btn-warning float-right"><i
            class="fa fa-save"></i></button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="selecttemplateform" role="dialog">
  <div class="modal-dialog   modal-25">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">CHỌN MẪU ĐƠN</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body ">
        <button id="adddonxinokytucxa" class="btn btn-secondary w-100 py-1">ĐƠN XIN Ở KÝ TÚC XÁ</button>
        <button class="btn btn-secondary w-100 py-2">ĐƠN XIN KẾT THÚC LƯU TRÚ KTX</button>
      </div>
      <!-- <div class="modal-footer">
				<button id="UPDATEinfo" type="button" class="userbutton btn btn-warning float-right" data-dismiss="modal" >UPDATE</button>
			</div> -->
    </div>
  </div>
</div>