/* You can add global styles to this file, and also import other style files */
    .btn-rounded{border-radius: 100% !important;}
.ShowToExport{display: none;}
    .actived{background-color: rgb(218, 218, 218);}
    thead tr {background-color: rgb(241, 241, 241);}
    .duplicate{background-color: rgb(255, 241, 241);}
    .table-td-p-4-0 td{padding: 0 4px ;vertical-align: middle;}
    .table-td-p-6-3 td{padding: 3px 6px ;vertical-align: middle;}
    .table-td-p-6-3 th{vertical-align: middle !important;text-align: center;}
    .table-td-p-0-0 td{padding: 0  ;vertical-align: middle;}
html {
  height: 100%;
}
body {
  overflow-x:hidden;
}
/* body::-webkit-scrollbar {
  display: none;
} */
@media (min-width: 576px) {
    .modal-dialog { max-width: none; }
  }

  .modal-95 {
    width: 95%;
    height: auto;
    padding: 0;
  }  
  .modal-99 {
    width: 99%;
    height: auto;
    padding: 0;
  }  
  .modal-75 {
    width: 75%;
    height: auto;
    padding: 0;
  }  
  .modal-55 {
    width: 55%;
    height: auto;
    padding: 0;
  }  
  .modal-25 {
    width: 25%;
    height: auto;
    padding: 0;
  } 
  .modal-15 {
    width: 15%;
    height: auto;
    padding: 0;
  }
  .modal-900 {
    width: 95%;
    max-width: 900px;
    height: auto;
    padding: 0;
  }
  .modal-1360 {
    width: 100%;
    max-width: 1360px;
    height: auto;
    padding: 20px;
  }
  .modal-700 {
    width: 95%;
    max-width: 700px;
    height: auto;
    padding: 0;
  }
  .modal-500 {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0;
  }
  .modal-400 {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0;
  }

  .giuongclick{cursor: pointer;}
  .phongclick{cursor: pointer;}

  .none{border: none; background-color: transparent;}

  @media print {
    .pagebreak { break-before: page ; ;clear: both;}
    
    body * {
         visibility: hidden;/* // part to hide at the time of print */
        -webkit-print-color-adjust: exact !important; /*// not necessary use         
           if colors not visible*/
    }
    #testprint {display: unset !important;} 
     #testprint *:not(button) {
        visibility: visible;
        -webkit-print-color-adjust: exact !important;
    }
    .print td,.print tr,.print th {padding-top: 0 !important;padding-bottom: 0 !important; }
    .print *:not(button) {
        visibility: visible;  
        -webkit-print-color-adjust: exact !important;
    }
    .print{   border: 1px solid white;
      height: 99% !important;
      page-break-after: avoid;
      page-break-before: avoid;
  
  }

      
}
@page {
  size: auto ;
  margin: 1cm;
}