/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body{background-image: url(./assets/image/bg1.jpg);background-attachment:fixed;}
@media (min-width: 576px) {
    .modal-dialog { max-width: none; }
  }

  .modal-95 {
    width: 95%;
    height: auto;
    padding: 0;
  }  
  .modal-99 {
    width: 99%;
    height: auto;
    padding: 0;
  }  
  .modal-75 {
    width: 75%;
    height: auto;
    padding: 0;
  }  
  .modal-55 {
    width: 55%;
    height: auto;
    padding: 0;
  }  
  .modal-25 {
    width: 25%;
    height: auto;
    padding: 0;
  } 
  .modal-15 {
    width: 15%;
    height: auto;
    padding: 0;
  }
  .modal-900 {
    width: 95%;
    max-width: 900px;
    height: auto;
    padding: 0;
  }
  .modal-700 {
    width: 95%;
    max-width: 700px;
    height: auto;
    padding: 0;
  }
  .modal-500 {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0;
  }
  .modal-400 {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0;
  }

  .giuongclick{cursor: pointer;}
  .phongclick{cursor: pointer;}

  .none{border: none; background-color: transparent;}