<div class="card  " style="background-color: rgba(255, 255, 255, 0.89);">
    <div class="card-header">
        <div class="row no-gutters">
            <div class="col">DANH SÁCH NHÂN VIÊN</div>
            <div class="col-auto">
                <app-button-upload [pending]="pending" bg="btn-info mr-1" (data)="getdata($event)" (pending)="getpending($event)"></app-button-upload>
                <app-button-download-json [listdata]="listKTX0002" classs="btn-info mr-1" fileName="Danh Sách nhân viên"></app-button-download-json>
                <button class="btn btn btn-primary mr-1" (click)="save()"><i class="fa fa-save"></i></button>
                <button class="btn btn btn-primary mr-1" (click)="sync()"><i class="fa fa-sync"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body" >
        <table class="table table-bordered table-hover" style="text-align: center;">
            <thead>
                <tr>
                    <th style="width: 20px;"><input type="checkbox" (change)="chooseall()"></th>
                    <th  style="width: 50px;">STT</th>
                    <TH>TÊN</TH>
                    <th>ID</th>
                    <th>BẬC</th>
                    <th>CMTND</th>
                    <th>CẤP NGÀY</th>
                    <th>NƠI CẤP</th>
                    <th>THƯỜNG TRÚ</th>
                    <th>NGÀY VÀO</th>
                    <th>PHÒNG</th>
                    <th>GIƯỜNG</th>
                    <th>TỦ</th>
                    <TH> <i class="fa fa-list"></i> </TH>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let element of listKTX0002;let i=index">
                    <tr id="tr{{element.manhansu}}">
                        <td><input type="checkbox" [ngModel]="element.check"></td>
                        <td>{{i+1}}</td>
                        <td><input type="text" [(ngModel)]="element.hotenkhaisinh" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null" [(ngModel)]="element.MKV9999.manhansu" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null"  [(ngModel)]="element.MKV9999.capbac" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null"  [(ngModel)]="element.MKV9999.cmtnd_so" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null"  [(ngModel)]="element.MKV9999.cmtnd_ngayhethan" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null"  [(ngModel)]="element.MKV9999.cmtnd_noicap" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null"  [(ngModel)]="element.MKV9999.diachithuongtru" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null"  value="{{element.ngayvao}}" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null"  [(ngModel)]="element.phong" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null"  [(ngModel)]="element.giuong" disabled class="form-control none"> </td>
                        <td><input type="text" *ngIf="element.MKV9999!=null"  [(ngModel)]="element.tu" disabled class="form-control none"> </td>
                        <td style="width: 75px;">
                            <button id="edit{{element.manhansu}}" (click)="edit(element)"  class="btn btn-sm"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-sm"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<app-loading *ngIf="pending"></app-loading>