<div class="card  bg-transparent" id="testconvertPDF">
    <div class="card-header">
      DANH NHÂN VIÊN
      <span class="float-right">
        <button title="Thêm phòng" style="margin-left: 10px;"  id="print" class="btn btn-secondary qlp"><i class="fa fa-print"></i></button>&nbsp;
      </span>
      <span class="float-right">
        <select name="" id="listkhu" class="btn btn-outline-secondary filter" >
          <option value="a">All</option>
          <option value="F">Chưa in</option>
          <option value="N">Đã in</option>
        </select>
      </span>
    </div>
    <div class="card-body" style="padding: 5px;">
        <table class="table table-bordered">
            <thead><tr>
                <th style="width: 20px;"><input type="checkbox" ></th>
                <th style="width: 40px;">STT</th>
                <th>Tên</th>
                <th>ID</th>
                <th>BP</th>
                <th>Cấp bậc</th>
                <th>CMTND</th>
                <th>Ngày cấp</th>
                <th>Hộ khẩu</th>
                <th>Thời gian tạo</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
              </tr>
              </thead>
        </table>
    </div>
</div>