<div class="row d-flex justify-content-center" id="form1" >
  <div class="modal-900 ui-page print" >
    <div class="row no-gutters py-2" style="border-bottom: solid 1px gray;">
      <div class="col-4"><img src="../../../../assets/image/icon/logo-1.jpg" width="200" alt=""></div>
      <div class="col-4" style="text-align: center;"><span style="font-size: 18px;font-weight: bold;">ĐƠN XIN Ở KÝ TÚC
          XÁ</span><br><span>(Viết kèm BẢN KHAI NHÂN KHẨU)</span></div>
      <div class="col-4"></div>
    </div>
    <br>
    <span>Chú ý: Nộp đơn cho BP Hành chính vào các ngày trong tuần và làm thủ tục bàn giao phòng KTX tại
      phòng ban
      quản lý KTX lúc 17:00 thứ 2 hàng tuần.</span>
      <table class="table table-bordered mb-0" >
      <tr  >
        <td  style="width: 120px;">Họ tên</td>
        <td><b>{{ktx0020.MKV9999.hodem+' '+ktx0020.MKV9999.ten}}</b></td> 
        <td>Giới tính</td>
        <td  style="width: 60px;"><b>{{ktx0020.MKV9999.gioitinh?"Nam":"Nữ"}}</b></td>
        <td style=""> Mã ID</td>
        <td style="width: 100px;"><b>{{ktx0020.MKV9999.manhansu}}</b></td>
        <td style="width: 100px;">Quốc tịch</td>
        <td  style="width: 50px !important;"> <b>{{ktx0020.MKV9999.datnuoc_id}}</b></td>
      </tr>
      <tr  >
        <td>Cấp bậc</td>
        <td colspan="4" class="" >
          <label class="mr-4" for="yyy1">Công nhân <input class="fff"  type="checkbox" name="1"  id="yyy1"></label>
          <label class="mr-4" for="yyy2">Trưởng nhóm <input  class="fff"    type="checkbox"  name="2"  id="yyy2"></label>
          <label class="mr-4" for="yyy3">Chủ nhiệm <input  class="fff"    type="checkbox"  name="3"  id="yyy3"></label>
          <label class="mr-1" for="yyy4">Trưởng phòng <input  class="fff"    type="checkbox"  name="4"  id="yyy4"></label>
        </td>
        <td colspan="3" style="border: none;"><b>{{ktx0020.MKV9999.chucvu}}</b></td>
      </tr>
      <tr  >
        <td>Phòng</td>
        <td><b>{{ktx0020.MKV9999.bophan!=null?ktx0020.MKV9999.bophan.bophan_ten:''}}</b></td>
        <td>Bộ phận</td>
        <td><b>{{ktx0020.MKV9999.bophan!=null?ktx0020.MKV9999.bophan.bophan_ten:''}} </b></td>
        <td>Ban</td>
        <td><b>{{ktx0020.MKV9999.ban!=null?ktx0020.MKV9999.ban.bophan_ten:''}}</b></td>
        <td>CĐ</td>
        <td></td>
      </tr></table>
    <table class="table  table-bordered tb">
      <tr>
        <td colspan="8">
          <div class="row">
            <div class="col-3">Nội dung đăng ký</div>
            <div class="col-3">
              <input type="checkbox"     [(ngModel)]="ktx0020.okitucxa" /><label >Ở ký túc xá</label><br>
              <input type="checkbox"   [(ngModel)]="ktx0020.quaylaikytucxa" /><label >Quay lại ký túc xá</label><br>
              (Thời gian trả lần trước)

            </div>
            <div class="col">
              Từ ngày:&nbsp;<input style="width: 150px;border: none;border-bottom: dotted 2px gray;" type="date"  class="" (ngModelChange)="ktx0020.ngayokitucxa = $event"  [ngModel]="ktx0020.ngayokitucxa | date:'yyyy-MM-dd'" /><br>
              Từ ngày:&nbsp;<input style="width: 150px;border: none;border-bottom: dotted 2px gray;" type="date"  class="" (ngModelChange)="ktx0020.ngayquaylaikytucxa = $event"   [ngModel]="ktx0020.ngayquaylaikytucxa | date:'yyyy-MM-dd'" /><br>
              &nbsp;&nbsp;&nbsp;Ngày: &nbsp;<input style="width: 150px;border: none;border-bottom: dotted 2px gray;" type="date"  class=""  (ngModelChange)="ktx0020.thoigiantralantruoc = $event" [ngModel]="ktx0020.thoigiantralantruoc | date:'yyyy-MM-dd'" /><br>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <div class=" row no-gutters">
            <label for="inputPassword" class="col-auto ">Lý do đăng ký ở KTX:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.lydodangkyoktx" />
          </div>
          <div class="row no-gutters">
            <label for="inputPassword" class="col-auto">Nguyện vọng ở phòng số:</label> <input   type="text"  class="formcontrol col-2" [(ngModel)]="ktx0020.nguyenvongophongso" >
            <label for="inputPassword" class="col-auto">Lý do:</label> <input  type="text"  class="formcontrol col" [(ngModel)]="ktx0020.lydonguyenvong" >
          </div>
          <div class=" row no-gutters">
            <label for="inputPassword" class="col-auto ">Điện thoại liên lạc: Số máy lẻ: </label> <input type="text"  class="formcontrol col-2" [(ngModel)]="ktx0020.somayle" >
            <label for="inputPassword" class="col-auto ">Di động:</label> <input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.didong" >
            <label for="inputPassword" class="col-auto ">Nhà riêng:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.nharieng" >
          </div>
        </td>
      </tr>
      <tr *ngIf="!check">
        <td rowspan="6"><b>Phần xử lý</b> </td>
        <td colspan="4">Phòng ban làm việc phê duyệt</td>
        <td colspan="3">Phòng Hành chính Nhân sự phê duyệt</td>
      </tr>
      <tr *ngIf="!check">
        <td colspan="2">Chủ nhiệm</td>
        <td colspan="2">Trưởng phòng</td>
        <td colspan="1">Ban QLKTX</td>
        <td colspan="2">Chủ nhiệm/Trưởng phòng</td>
      </tr>
      <tr *ngIf="!check">
        <td colspan="2"><input class="formcontrol" type="text"  [(ngModel)]="ktx0020.chunhiemnoilamviec"></td>
        <td colspan="2"><input class="formcontrol" type="text"  [(ngModel)]="ktx0020.truongphongnoilamviec"></td>
        <td colspan="1"><input class="formcontrol" type="text"  [(ngModel)]="ktx0020.bqlktx"></td>
        <td colspan="2"><input class="formcontrol" type="text"  [(ngModel)]="ktx0020.truongphongGA"></td>
      </tr>
      <tr *ngIf="!check">
        <td colspan="1" rowspan="3">Ban QLKT</td>
        <td colspan="1">Số phòng</td>
        <td colspan="2"><input class="formcontrol" type="text"  [(ngModel)]="ktx0020.KTX0001_ID"></td>
        <td colspan="1">Số tủ</td>
        <td colspan="2"><input class="formcontrol" type="text"  [(ngModel)]="ktx0020.sotu"></td>
      </tr>
      <tr *ngIf="!check">
        <td colspan="1">Khóa phòng</td>
        <td colspan="2"><input class="formcontrol" type="text"  [(ngModel)]="ktx0020.khoaphong"></td>
        <td colspan="1">Số khóa tủ</td>
        <td colspan="2"><input class="formcontrol" type="text"  [(ngModel)]="ktx0020.sokhoatu"></td>
      </tr>
      <tr *ngIf="!check">
        <td colspan="1">Số giường</td>
        <td colspan="2"><input class="formcontrol" type="text"  [(ngModel)]="ktx0020.KTX0002_ID"></td>
        <td colspan="1">Ngày có hiêu lực</td>
        <td colspan="2"><input class="formcontrol" type="text"  value="{{ktx0020.ngaycohieuluc|date:'dd/MM/yyyy'}}"></td>
      </tr>
      <tr>
        <td colspan="8">
          TIÊU CHUẨN CẤP PHÁT ĐỒ DÙNG CÁ NHÂN
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <div class="row">
            <div class="col-2">
              Vật dụng được cấp phát
            </div>
            <div class="col dfff">

              <div class="row no-gutters" *ngFor="let element of ktx10">
                <span class="col-6">
                  <i class="far fa-check-square"></i> {{element.KTX0010.ten}}
                </span>
                  <span class="col-6"> <input readonly  style="width: 60px;border: none;border-bottom: dotted 2px gray;text-align: center;font-weight:bold ;" value="{{element.soluongcap}}" >Chiếc</span>
                  

              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan="3"><b> Phần ký nhận</b></td>
        <td colspan="4">Bên giao (Ban QLKTX)</td>
        <td colspan="3">Bên nhận (Người lao động)</td>
      </tr>
      <tr>
        <td style="width: 25%;"  colspan="2">Họ và tên</td>
        <td style="width: 25%;"  colspan="2">Ký nhận</td>
        <td style="width: 25%;"  colspan="2">Họ và tên</td>
        <td style="width: 25%;" colspan="1">Ký nhận</td>
      </tr>
      <tr>
        <td colspan="2"><input type="text" class="formcontrol"  [(ngModel)]="ktx0020.hotenbengiao"></td>
        <td colspan="2"><input type="text" class="formcontrol"  value="{{ktx0020.bengiao?'Đã ký':''}}"></td>
        <td colspan="2"><input type="text" class="formcontrol"  [(ngModel)]="ktx0020.hotenkhaisinh"></td>
        <td colspan="1"><input type="text" class="formcontrol"  value="{{ktx0020.bennhan?'Đã ký':''}}"></td>
      </tr>
    </table>
    <p class="pagebreak"></p>
  </div>
  <div class="modal-900 ui-page print"  >
    <div class="row no-gutters">
      <div class="col-2"></div>
      <div class="col-8">
        <h6 class="w-100" style="text-align: center;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h6>
        <h6 class="w-100" style="text-align: center;">Độc lập - Tự do - Hạnh phúc</h6>
        <h6 class="w-100" style="text-align: center;">------------</h6>
      </div>
      <div class="col-2">Mẫu KH01 ban hành theo QD số 698/2007/QD-BCA (C11)</div>
    </div>
    <div class="row  justify-content-md-center no-gutters" style="border-bottom: solid 1px gray;padding: 5px;">

      <h5 class="w-100" style="font-size: 18px;font-weight: bold;text-align: center;">BẢN KHAI NHÂN KHẨU</h5>

      <SPAN>(Dùng cho người đủ từ 14 tuổi trở lên)</SPAN>
    </div>
    <div class="col-12">
      <div class="row no-gutters" >
        <label class="col-auto">1. Họ và tên khai sinh:(1)</label><input type="text"  class="formcontrol col"  [(ngModel)]="ktx0020.hotenkhaisinh">
        <label class="col-auto">2. Giới tính:</label>  
                                              <select     class="formcontrol col-3"  [(ngModel)]="ktx0020.gioitinh">
                                                <option value="true">Nam</option>
                                                <option value="false">Nữ</option>
                                              </select>
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">3. Họ và tên khác (nếu có):</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.hotenkhac">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">4. Sinh ngày:</label><input type="date"  class="formcontrol col-4"  (ngModelChange)="ktx0020.ngaysinh = $event"   [ngModel]="ktx0020.ngaysinh|date:'yyyy-MM-dd'">
        <label class="col-auto">5. Nơi sinh:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.noisinh">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">6. Quê quán (2):</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.quequan">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">7. Dân tộc:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.dantoc">
        <label class="col-auto">8. Tôn giáo:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.tongiao">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">9. CMTND/ Hộ chiếu số:</label><input type="text"  class="formcontrol col-2" [(ngModel)]="ktx0020.cmtnd_so">
        <label class="col-auto"> Cấp ngày:</label><input type="date"  class="formcontrol col-3"  (ngModelChange)="ktx0020.cmtnd_ngaycap = $event"  [ngModel]="ktx0020.cmtnd_ngaycap|date:'yyyy-MM-dd'">
        <label class="col-auto"> Nơi cấp:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.cmtnd_noicap">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">10. Nơi thường trú:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.noithuongtru">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">11. Chỗ ở hiện nay:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.choohiennay">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">12. Trình độ học vấn(3):</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.trinhdohocvan">
        <label class="col-auto">13. Trình độ chuyên môn(4):</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.trinhdchuyenmon">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">14. Biết tiếng dân tộc ít người:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.biettiengdantocitnguoi">
        <label class="col-auto">15. Biết ngoại ngữ:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.bietngoaingu">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">16. Nghề nghiệp, chức vụ, nơi làm việc hiện nay:</label><input type="text"  class="formcontrol col" [(ngModel)]="ktx0020.nghenghiepchucvunoilam">
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">17. Từ đủ 14 tuổi trở lên đến nay làm gì, ở đâu:</label>
      </div>
      <div class="row no-gutters">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="w-25" colspan="2">THỜI GIAN</th>
              <th rowspan="2">CHỖ Ở<br>
                <span style="font-weight: normal;">(Ghi rõ số nhà, đường phố, xóm, ấp, bản, xã/phường/thị trấn; quận/huyện; tỉnh/thành phố. Nếu ở nước ngoài thì ghi rõ tên nước.)</span>
              </th>
              <th rowspan="2" style="width: 150px;">NGHỀ NGHIỆP, NƠI LÀM VIỆC</th>
              <th rowspan="2"><button  class="btn btn-primary addroww col-auto" ><i class="fa fa-plus"></i></button></th>
            </tr>
            <tr>
              <td >TỪ NĂM</td>
              <td>ĐẾN NĂM</td>
            </tr>
          </thead>
          <TBOdy>
            <TR *ngFor="let element of ktx0020.KTX0021;let i = index;">
              <td><input  style="width: 160px;"   class="formcontrol" type="date"   (ngModelChange)="ktx0020.KTX0021[i].batdau = $event"  [ngModel]="ktx0020.KTX0021[i].batdau|date:'yyyy-MM-dd'"></td>
              <td><input   style="width: 160px;"  class="formcontrol" type="date"   (ngModelChange)="ktx0020.KTX0021[i].ketthuc = $event" [ngModel]="ktx0020.KTX0021[i].ketthuc|date:'yyyy-MM-dd'"></td>
              <td><textarea   style="height: 30px;" class="formcontrol"   [(ngModel)]="ktx0020.KTX0021[i].choo"></textarea></td>
              <td><textarea   style="height: 30px;" class="formcontrol endtexaddrow"   [(ngModel)]="ktx0020.KTX0021[i].nghenghiepnoilam"></textarea></td>
              <td><input type="hidden" name="{{i}}" value=""><button *ngIf="check"  class="btn btn-secondary deleteroww col-auto" ><i class="fa fa-trash"></i></button></td>
            </TR>
          </TBOdy>
        </table>
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">18. Tiền án: (Tội danh, hình phạt, theo bản án số, ngày của tòa án)</label>
      </div>
      <div class="row no-gutters" >
        <textarea class="formcontrol" rows="1" [(ngModel)]="ktx0020.tienantoidanhhinhphat"></textarea>
      </div>
      <div class="row no-gutters" >
        <label class="col-auto">19. Quan hệ gia đình: (Bố, mẹ, anh chị em ruột, vợ/chồng, con)(5)</label>
      </div>
      <div class="row no-gutters" >
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>STT</th>
              <th>Họ và tên</th>
              <th>Sinh năm</th>
              <th>Quan hệ</th>
              <th>Nghề nghiệp</th>
              <th>Chỗ ở hiện nay (6)</th>
              <th><button class="btn btn-primary" (click)="addroww()"><i class="fa fa-plus"></i></button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of ktx0020.KTX0022;let i=index">
              <td>{{i+1}}</td>
              <td><input type="text" class="formcontrol" [(ngModel)]="element.HoTen"></td>
              <td><input type="text" class="formcontrol" [(ngModel)]="element.NamSinh"></td>
              <td><input type="text" class="formcontrol" [(ngModel)]="element.QuanHe"></td>
              <td><input type="text" class="formcontrol" [(ngModel)]="element.NgheNghiep"></td>
              <td><input type="text" class="formcontrol" [(ngModel)]="element.ChoOHienNay"></td>
              <td><button class="btn btn-secondary" (click)="removeitem(element)"><i class="fa fa-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row no-gutters" >
        <div class="col"></div>
        <div class="col-auto " style="text-align: center;">
            <p><input type="text"  class="formcontrol" style="width: 100px;" value="Thạch Thất">, ngày <b>{{date|date:'dd'}}</b>  tháng <b>{{date|date:'MM'}}</b> năm <b>{{date|date:'yyyy'}}</b></p> 
            <span><b>Người khai hoặc viết hộ</b></span><br>
            <span><i>(Cam đoan, ký, ghi dõ họ tên)</i></span><br><br><br><br><br>
            <span> <b>{{ktx0020.hotenkhaisinh}}</b></span>
        </div>
      </div>
      <div class="row no-gutters footer">
        <i>(1) Viết chữ in hoa đủ dấu. (2) Ghi theo giấy khai  sinh hoặc quê gốc. (3) Ghi trình độ học vấn cao nhất: Tiễn sĩ, Thạc sĩ, Đại học, Cao đẳng. Trung cấp, THPT(12/12, 7/12 ...). (4) Ghi trình độ chuyên môn cao nhất: Tiến sĩ y học, Thạc sĩ quản lý giao dục, Cử nhân luật...</i>
      </div>
    </div>
  </div>
  
  <p class="pagebreak"></p>
</div>
<p class="pagebreak"></p>
  <button class="btn btn-primary" id="savedon"><i class="fa fa-save"></i>&nbsp;Lưu và gửi đơn</button>